#header_sub{
  width: 100%;

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;

    h1{
      text-align: center; height: 120px; 
      background: url(/public/img/logo2.png) no-repeat center/contain; 
      font: 700 20px/1 'Oswald'; 
      
      a{
        color: rgba(48, 48, 48, 0.2);
        line-height: 227px;
      }
    }
    p{
      text-indent: -9999px;
      width: 100%; 
      font: 600 20px/1 'Oswald'; 
      letter-spacing: 5px;
      text-align: center;
      border-bottom: 4px solid #000;
      position: relative;

      &::after{
        content: ''; display: block; 
        width: 100%; height: 2px; background: #000;
        position: absolute; bottom: -10px; left: 0;
      }
    }

    #gnb{
      width: 100%;
      padding: 15px 80px 10px;
      border-bottom: 2px solid #000;

      ul{
        display: flex; justify-content: space-around; 

        li{
          font: 400 14px/ 1 'Oswald';

          a{
            color: #303030;
          }
        }
      }
    }

    .util{
      position: absolute; top: 100px; right: 0;
      ul{
        display: flex; justify-content: flex-end; 

        li{
          font: 400 14px/1 'Oswald'; 
          margin-left: 20px;
          padding: 2px 5px;
          background: rgb(255, 187, 0);

          a{
            color: #303030;
          }
        }
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet){
  #header_sub{
  
    .inner{
      width: 100%;
  
      h1{
        height: 100px;
        font: 700 20px/1 'Oswald'; 
        
        a{
          line-height: 190px;
        }
      }
  
      #gnb{
        padding: 15px 80px 10px;
  
        ul{
          li{
            font: 400 14px/ 1 'Oswald';
          }
        }
      }
  
      .util{
        position: absolute; top: 90px; right: 3vw;
        ul{
          li{
            font-size: 14px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

/* moblie */
@media screen and (max-width: $mobile){
  #header_sub{
    .inner{
      h1{
        height: 80px;
        font: 700 20px/1 'Oswald'; 
        
        a{
          line-height: 155px;
        }
      }
  
      #gnb{
        padding: 15px 80px 10px;
  
        ul{
          li{
            font: 400 14px/ 1 'Oswald';
          }
        }
      }
  
      .util{
        position: absolute; top: 70px; right: 3vw;
        ul{
          li{
            font-size: 14px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}