#header{
  width: 100%;

  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;
    
    /* 웹 메뉴 */
    .menu_web{
      //main과 sub 구분

      //#gnb_web : mian 과 sub 구분
  
  
      .util_web{
        //위치값 main과 sub 구분
        ul{
          display: flex; justify-content: flex-end; 
  
          li{
            font: 400 14px/1 'Oswald'; 
            margin-left: 20px;
            padding: 2px 5px;
            background: rgb(255, 187, 0);
  
            a{  color: $txt;}
          }
        }
      }
    }

    /* 반응형 메뉴 호출*/
    .bg{
      display: none;
      width: 80px; height: 80px;
      background: #000;
      position: absolute; top: 0px; right: 0px; z-index: 6;
      cursor: pointer;
      #btnCall{
        width: 30px; height: 30px; border: $lightbrown;
        position: absolute; top: 50%; left: 50%; 
        transform: translate(-50%, -50%); 
        
        &::before{
          content: ""; display: block; width: 100%; height: 2px;
          background: $lightbrown; border-radius: 4px;
          position: absolute; bottom: 0; right: 0; transform: translateY(-1px);
          transition: width 0.3s 0.4s; 
        }
        &::after{
          content: ""; display: block; width: 100%; height: 2px;
          background: $lightbrown; border-radius: 4px;
          position: absolute; top: 0; left: 0; transform: translateY(-1px);
          transition: width 0.3s 0.4s; 
        }
  
        span{
          display: block; width: 100%;
          position: absolute; top: 50%; left: 0; transform: translateY(-50%);
          text-indent: -9999px;
  
          &::before{
            content: ""; display: block; width: 100%; height: 2px;
            background: $lightbrown; border-radius: 4px;
            position: absolute; top: 50%; left: 0; transform: translateY(-50%);
            transition: transform 0.3s;
          }
          &::after{
            content: ""; display: block; width: 100%; height: 2px;
            background: $lightbrown; border-radius: 4px;
            position: absolute; top: 50%; left: 0; transform: translateY(-50%);
            transition: transform 0.3s;
          }
        }
  
        &.on::before{ width: 0; }
        &.on::after{ width: 0; }
        &.on span::before{
          transform: rotate(45deg);
          transition: transform 0.3s 0.8s;
        }
        &.on span::after{
          transform: rotate(-45deg);
          transition: transform 0.3s 0.8s;
        }
      }
    }

    /* 반응형 메뉴 */
    #menu_Mo{
      visibility: hidden;
      position: fixed;
      top: -120%;
      left: 0px; 
      width: 100%;
      height: 100vh;
      background: $bgDark; 
      transition: 0.5s 0.8s; 
      padding: 25px 30px;
      z-index: 5;

      &.on{visibility: visible; top: 0%; transition: 0.5s 0.8s;}

      h1{
        padding: 20px 0px;
        a{
          display: block; font: 700 80px/1 'Oswald';
          color:$lightbrown; text-align: center; letter-spacing: 4px;
        }
      }
      p{
        font: 400 20px/1 'Oswald';
        color:$lightbrown; text-align: center; 
        margin-bottom: 20px;
      }

      #gnb_mo>li{
        >a{
          display: block;
          width: 100%;
          padding: 10px 0;
          font: 400 46px/1 "Oswald";
          letter-spacing: 2px;
          color: $lightbrown;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }
}

#header.main{
  .inner .menu_web{
    .menu_web_main{
      h1{
        width: 100%;
        padding: 40px 0px;
        font: 700 140px/1 'Oswald'; 
        text-align: center;
        border-bottom: 1px solid #000;
        a{  color: $txt;}
      }
      .intro{
        display: flex; justify-content: space-between; align-items: center;
        border-bottom: 4px solid #000;
        position: relative;
        span{
          font: 12px/1 'IM Fell English SC'; 
          padding: 5px 0;
        }
        p{ 
          font: 300 14px/1  'Oswald'; letter-spacing: 5px;
          padding:5px 0;
        }
        strong{
          font: 12px/1 'IM Fell English SC'; 
          padding: 5px 0;
        }
      }
    }

    .menu_web_sub{ display: none;}

    #gnb_web{
      width: 100%;
      padding: 10px 0px;
      border-bottom: 2px solid #000;

      ul{
        width: 100%;
        display: flex; justify-content: space-between; 

        li{
          width: 100%; border-right: 1px solid #000;
          font: 400 16px/ 1 'Oswald'; position: relative;
          text-align: center;
          padding: 0px 22px 0px;
          &:last-child{border-right: none;}
          a{ color: $txt;}
        }
      }
    }

    .util_web{
      position: absolute; top: 200px; right: 0;
    }
  }
}

#header.sub{
  .inner .menu_web{
    .menu_web_main{ display: none;}

    .menu_web_sub{
      display: flex;
      justify-content: space-between; align-items: flex-end;
      border-bottom: 4px solid #000;
      position: relative;

      &::after{
        content: ''; display: block; 
        width: 100%; height: 2px; background: #000;
        position: absolute; bottom: -10px; left: 0;
      }
      span{
        font-size: 80px; color: #000;
        padding: 0px 0px 0px 30px;
        &::after{
          display: block; content: '16 - 30412100';
          font-size: 12px;
          position: absolute; bottom: 2px; left: 30px;
        }
      }
      >h1{
        font: 400 50px/1 'Oswald';
        padding: 30px 100px;
        a{color: $txt;} 
      }
      p{
        font: 400 14px/1 'Oswald';
        position: relative; bottom: 5px; right: 110px;
      }
    }

    #gnb_web{
      width: 100%;
      padding: 15px 80px 10px;
      border-bottom: 2px solid #000;

      ul{
        display: flex; justify-content: space-around; 

        li{
          font: 400 14px/ 1 'Oswald';

          a{
            color: $txt;
          }
        }
      }
    }

    .util_web{
      position: absolute; top: 88px; right: 0;
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet){
  #header{
  
    .inner{
      width: 100%;
      .menu_web .util_web{display: none;}

      /* 반응형 메뉴 호출*/
      .bg{display: block;}
    }
  }

  #header.main .inner .menu_web{
    .menu_web_main{
      h1{
        height: 80px;
        padding: 20px 0px;
        font: 700 40px/1 'Oswald'; 
        border-bottom: 4px solid #000;
      }
      .intro{display: none;}
    }
    #gnb_web{ display: none;}
  }

  #header.sub .inner .menu_web{
    .menu_web_sub{
      display: block; border:none;
      &::after, span, span::after, p {display: none;}
      h1{
        height: 80px;
        padding: 20px 0px;
        font: 400 40px/1 'Oswald'; text-align: center;
        border-bottom: 4px solid #000;
      }
    }
    #gnb_web{ display: none; border:none;}
  }
}

/* moblie */
@media screen and (max-width: $mobile){
  #header{
    .inner{
      .bg{width: 60px; height: 60px;}
      #menu_Mo{
        h1 a {
          padding-top: 40px;
          font-size: 12vw;
        }
        #gnb_mo>li{
          >a{
            font-size: 40px;
          }
        }
      }
    }
  }

  #header.main .inner .menu_web .menu_web_main h1{
    height: 60px; padding: 10px 0px;
    font: 700 32px/1 'Oswald';
  }
  #header.sub .inner .menu_web .menu_web_sub h1{
        height: 60px;
        padding: 10px 0px; margin-right: 40px;
        font: 400 32px/1 'Oswald'; text-align: center;
      }
    
  
}