.content{
  width: 100%;
  .inner{
    width: 1180px;
    position:relative;
    margin: 0 auto;
    min-height: 800px;

    h1{
      padding: 40px 0;
      text-align: center;
      font: 700 160px/1 'Oswald';
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet){
  .content{
    .inner{
      width: 100%;

      h1{
        padding: 30px 0;
        font-size: 14vw!important;
      }
    }
  }
}

/* mobile*/
@media screen and (max-width: $mobile){
  .content{
    .inner{
      h1{
        padding: 20px 0;
        font-size: 14vw;
        margin-bottom: 20px
      }
    }
  }
}