.latestReviewM{
  .inner{
    min-height: auto;
    border-top: 4px solid #000;
    padding: 40px 0 20px;

    h1{
      font: 700 80px/1 'Oswald'; text-align: center; padding: 0;
    }
    .wrap{
      display: flex; justify-content: space-between; align-items: flex-start; padding-bottom: 3vh;

      .post{
        width: 300px;  margin: 0 auto; padding: 10px 30px 20px;
        background: $lightbrown;
        display: flex; flex-wrap: wrap;
        
        h2{
          font: 600 24px/1.1 'Oswald';
          padding: 10px 0;
        }
  
        .written{
          display: flex; flex-wrap: wrap;
          li{
            width: 100%;   
            font: 18px/1 'Nanum Pen Script';
            padding: 10px 10px;
            background: $lightbrown; border:none;
            border-top: 2px solid #999;
            
            strong{
              font: 12px/1 'arial'; margin-right: 10px; color: #777;
            }

            &:nth-of-type(1){border:none;}
            &:nth-of-type(3), &:nth-of-type(4){ 
              width: 50%; 
              strong{display: block; margin: 5px 10px 5px 0px; }
            }
            &:nth-of-type(5) {
              height: 150px; overflow: auto;
              strong{display: block; margin: 5px 10px 5px 0px; }
              //스크롤바
              &::-webkit-scrollbar {width: 10px;}
              &::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,0.2);}
              &::-webkit-scrollbar-track { background-color: rgba(0,0,0,0.1);}
            }
          }
        }
      }
    }
  }
}

/* tablet*/
@media screen and (max-width: $tablet){
  .latestReviewM{
    .inner{

      h1{ font-size: 60px!important;}
      .wrap .post{ width: 30%;}
    }
  }
}

@media screen and (max-width: 768px){
  .latestReviewM .inner {
    .wrap{ 
      flex-wrap: wrap; justify-content: center; 
      
      .post {
        width: 45%;
        &:nth-of-type(3) {display: none;}
      }
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile){
  .latestReviewM .inner h1{ font-size: 34px!important;}
  .latestReviewM .inner .wrap .post{
    width: 300px;
    &:nth-of-type(2){display: none;}
  }
}