.partnersM{
  padding: 0px 0px 4vh;


  .inner{
    min-height: 0px;
    border-top: 2px solid #000;

    h1{
      padding: 6vh 0 0px;
      text-align: center;
      font: 700 24px/1.1 'Oswald';
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .wrap{
      .swiper{
        padding: 10px 0 40px;
        .swiper-pagination{
          bottom: 5px;
        }
        .swiper-wrapper{
          .swiper-slide{
            .logo{
              width: 100px;
              height:  80px;
              filter: grayscale(100%);
      
              img{
                width: 100%;height: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}

/* tablet */
@media screen and (max-width:$tablet){
  .partnersM{
    padding: 0px;
    .inner{
      width: 100%;
      h1{
        font-size: 20px!important;
      }
    }
  }
}

/* mobile */
@media screen and (max-width:$mobile){
  .partnersM{
    .inner{
      //작성
    }
  }
}