.partnersM{
  padding: 40px 0px;
  border: 1px solid #000;
  .inner{
    min-height: 0px;

    h1{
      padding: 20px 0;
      text-align: center;
      font: 700 50px/1.1 'Oswald';
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    .wrap{
      //임시. 스크롤 스와이퍼 연결예정
      display: flex;
      overflow: hidden;
      .logo{
        height: 150px;

        img{
          width: 100%;height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}