#welcomePop{
  width: 360px; z-index: 3;
  background: rgba(17, 17, 17, 0.9);
  padding: 40px;
  color: #fff;
  position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);

  .content{
    width: 100%; min-height: 320px;
    h1{
      font: 600 30px/1 'Oswald';
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    ul li{
      padding: 5px 0px;
      list-style: square;
      margin-left: 10px;
      font-size: 14px; line-height: 1.6;
    }
  }


  .wrap{
    float: left; 
    position: relative; bottom: 7px;
    label{ font: bold 12px/1 "맑은 고딕"; color: #fff; margin-left: 4px;}
  }
  .close{
    float: right; font: 14px/1 'arial'; color: #fff;
    cursor: pointer;
  }
}