.visualM{
  padding: 40px 0px 0px;

  .inner{
    min-height: 0px;

    .wrap{
      padding-bottom: 40px; position: relative;
      border-bottom: 4px solid #000;

      .banner{
        width: 100%;
        height: 520px;   
        position: relative; overflow: hidden;

        ul{
          &::after{content: ''; display: block; clear: both;}
          width: 600%;
          height: 100%; margin-left: 0;

          li{
            width: calc(100%/6);
            height: 100%; 
            float:left; 
            position: relative;
            
            .pic{
              width: 100%; height: 520px;
              position: relative;

              &::after{
                content: ''; position: absolute; top: 0;left: 0; height: 520px; width: 100%;
                background: url(/public/img/pattern.png) repeat top left; z-index: 2;
              }
              img{ width: 100%; height: 100%; object-fit: cover; filter: grayscale(50%);}
            }

            .txt{
              position: absolute; bottom: 0px; left: 5vw;
              >h1{
                padding: 20px; margin-bottom: 0;
                text-transform: capitalize;
                font: 50px/1 'Abril Fatface';
                color: rgba(0,0,0,0.4);
              }
            }
          }
        }

        .prev{
          position:absolute; top:50%; margin-top:-50px; left:50px;  z-index: 3;
          font-size: 30px; color: #ddd;
          padding: 10px;
          cursor: pointer;
        }
        .next{
          position:absolute; top:50%; margin-top:-50px; right:50px; z-index: 3;
          font-size: 30px; color: #eee;
          padding: 10px;
          cursor: pointer;
        }
      }


    }
  }
}

/* tablet */
@media screen and (max-width:$tablet){
  .visualM{
    padding: 0px;
    .inner{
      width: 100%; padding: 20px;
      .wrap{
        padding-bottom: 20px;
        .banner{
          width: 100%; border: none; padding: 0; float:none;
        }

        .stayConnect{
          float:none;
          width: 100%; padding: 0;
          
          h3{
            display: inline-block;
            font-size: 3vw;
            padding: 10px 0;
            margin-bottom: 0; width: 35%; 
          }

          ul{
            display: none; //옆으로 배치하면 스크롤이 생기는 문제가 발생함
            li{
              width: auto; padding: 10px;
              border: none;
              margin: 0px;
              span{
                position: absolute; top: -99999px; opacity: 0;
              }
            }
          } 
        }
      }
    }
  }
}

/* mobile */
@media screen and (max-width:$mobile){
  .visualM{
    .inner{
      .wrap{
        .stayConnect{
          h3{font-size: 20px; width: 50%;}
        }
      }
    }
  }
}