/* title, btnMenu, story-txt,vid  */
.about{
  >.inner{
    width: 1180px;
    position: relative;
    margin: 0 auto;

    h1{
      font: 600 38px/1 'Oswald';
      padding: 20px 0;
      color: #303030; //#ECECEC;
    }
    /* ul - btnMenu */
    .btnMenu{
      width: 100%;
      display: flex; justify-content: space-between; align-items: center; 
      padding-bottom: 30px;
      border-bottom: 3px solid #000;
      li{
        width: 31.33%; margin-right: 2%; cursor: pointer;
        &:nth-of-type(3){margin-right: 2%;}
        padding: 0 10px 20px;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 2px 6px rgba(0,0,0,0.5);

        p{
          font: 400 28px/1 'Oswald';
          padding: 20px 0px;
          border-bottom: 1px solid #303030;
          color: #303030;
        }
        span{
          display: block;
          font: 400 16px/1 'Oswald';
          padding: 10px 0px 0px;
        }
        &.on{
          box-shadow: 1px 4px rgba(0,0,0,0.5);
          top:2px;
          p{color: #ECECEC; border-bottom: 1px solid #ECECEC;}
          span, strong {color: #ECECEC;}
        }

        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) h2 {
            background-image: url(/public/img/mask#{$i}.png);
            background-repeat: no-repeat;
            background-position: -9999px -9999px;
          }
        }
      }
    }
    /* story - txt, vid */
    .story{
      width: 100%;
      padding: 40px 0px 0px;
      display: flex; justify-content: space-between; 
      
      .txt{
        width: 30%; 
        h2{
          font: 700 80px/1 'Oswald'; 
          padding-bottom: 20px;
          margin-bottom: 20px;
          position: relative;
          &::after{
            content: ""; display: block;
            width: 100%; height: 8px; background: #303030;
            position: absolute; bottom: 0px; left: 0px;
          }
        }
        p{
          font: 400 16px/1.2 'Oswald'; 
          color: #C1554E; 
          padding-bottom: 20px;
          margin-bottom: 20px;
          position: relative;
          &::after{
            content: ""; display: block;
            width: 100%; height: 2px; background: #555;
            position: absolute; bottom: 0px; left: 0px;
          }
        }
        span{
          display: block;
          font: 400 16px/1.2 'Oswald';
          color: #303030;
          margin-bottom: 20px;
        }
      }

      figure{
        width: 70%;
        margin: 0px 0px 20px 40px;
        background: rgba(0,0,0,0.2); 
        position: relative;

        aside {
          position: absolute; width: 100%; height: 100%; background: #111; top: 0px; left: 0px;
          display: flex; justify-content: center; align-items: center; z-index: 5; font: 28px/1 "IM Fell English SC"; color: #fff; letter-spacing: 2px;  display: none;
        }

        .wrap{
          width: 100%; height: 100%; position: absolute; top: 0px; left: 0px;
          .vid{
            width: 100%; height: 100%; position: absolute; top: 0px; left: 0px;
            z-index: 1;

            video{
              width: 100%; height: 100%; object-fit: cover;
            }

            .slogan{
              width: 440px; height: 200px;
              position: absolute; right: 8%; top: 50%; transform: translateY(-60%); text-align: right; padding: 20px; perspective: 900px;

              //모션처리를 위한 가상의 사각 프레임
              &::before {
                content: ""; display: block; width: 350px; height: 150px; border: 1px solid #fff; position: absolute; top: 0px; right: 0px; opacity: 0; transition: all 1.5s;
              }

              //안쪽의 글자 크기만큼 프레임의 크기를 매칭시키기 위해서 display: inline-block속성 적용
              h3 {
                display: inline-block; overflow: hidden; position: relative;
                margin-bottom: 20px; 

                //해당 프레임안에서 글자요소
                >.inner {
                  font: 400 100px/1 "Oswald"; color: #fff;
                  position: relative; transform: scaleY(1.25); opacity: 0;
                  transition: opacity 0.2s 0.5s;
                  text-transform: uppercase;
                }

                //글자위를 덮으면서 나타날 마스킹 박스
                &::after {
                  content: ""; display: block; width: 100%; height: 100%; background: #fff; position: absolute; top: 0px; right: -100%;
                  transition: right ease-in-out 1s;
                }
              }

              .p1 {
                display: inline-block; overflow: hidden; position: relative; margin-right: 14px; transform: rotateY(40deg);

                >.inner {
                  font: 20px/1 "Oswald"; color: #fff; position: relative; opacity: 0; 
                  transition: opacity 0.2s 0.8s;
                }

                &::after {
                  content: ""; display: block; width: 100%; height: 100%; background: #fff;
                  position: absolute; top: 0px; right: -100%; transition: right ease-in-out 1s 0.3s;
                }
              }
            }

            &.lower {
              z-index: 2;
            }

            &.on {
              z-index: 3;

              .slogan {
                &::before {
                  opacity: 1; transform: rotateY(220deg);
                }
                h3, .p1 {
                  .inner {opacity: 1;}
                  &::after {right: 100%;}
                }
              }
            }


            //mask클래스가 추가로 붙었을때 모션처리
            &:nth-of-type(1).mask {
              -webkit-mask: url(/public/img/mask1.png);
              -webkit-mask-size: 2300% 100%;
              animation: mask-play 1.4s steps(22) forwards;
            }
            &:nth-of-type(2).mask {
              -webkit-mask: url(/public/img/mask2.png);
              -webkit-mask-size: 3000% 100%;
              animation: mask-play 1.4s steps(29) forwards;
            }
            &:nth-of-type(3).mask {
              -webkit-mask: url(/public/img/mask3.png);
              -webkit-mask-size: 7100% 100%;
              animation: mask-play 1.4s steps(70) forwards;
            }
          }
        }
      }
    }
  }
}

/* team */
.team{
  .inner{
    width: 1180px;
    position: relative;
    margin: 0 auto;

    h1{
      font: 700 80px/1 'Oswald'; 
      padding: 20px 0px;
      margin: 20px 0px 0px;
      border-top: 3px solid $txt;
    }

    .wrap{
      width: 100%;
      display: flex; justify-content: space-between; flex-wrap: wrap;

      article{
        width: 260px; height: 400px;
        margin: 50px;
        margin-bottom: 40px;
        perspective: 1000px;

        .member{
          width: 100%; height: 100%;
          transform-style: preserve-3d;
          transform: translateZ(-130px);
          transition: transform 350ms; 
          
          .poster{
            position: absolute;           
            width: 100%; height: 100%;
            transform: translateZ(130px); // z값!!!
            background: #fff;
            box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
            backface-visibility: hidden;
            transition: box-shadow 350ms;

            img{ width: 100%; height: 100%;  object-fit: cover; }
          }
          .info{
            position: absolute;
            width: 100%; height: 100%;
            transform: rotateY(90deg) translateZ(130px); // z값!!!
            background: #fff;
            box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
            backface-visibility: hidden;
            transition: box-shadow 350ms;

            .pic{
              width: 100%; height: 180px;
              img{ width: 100%; height: 100%;  object-fit: cover;}
            }
            .profile{
              border-top: 10px solid #B8B5B5;
              padding: 60px 20px;

              h2{
                font: 400 32px/1 'Oswald'; 
                margin-bottom: 20px;
              }
              p{
                font: 400 14px/1 'Oswald'; 
                margin-bottom: 10px;
              }
              span{
                display: block;
                font: 400 16px/1 'Oswald'; 
                margin-bottom: 10px
              }
              ul{
                width: 100%;
                display: flex; justify-content: flex-start;
                li{
                  font-size: 14px;
                  cursor: pointer;
                  margin-right: 20px;
                }
              }
            }
          }

          //호버효과
          &:hover{
            transform: rotateY(-78deg) translateZ(20px);

            &::after{  box-shadow: 20px -5px 50px rgba(0,0,0,0.3); }
            .poster{  box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8); }
            .info, .info header{  box-shadow: inset 0px 0px 40px rgba(0,0,0,0);}
          }

          // 박스 그림자
          &::after{
            content: '';
            width: 260px;
            height: 260px;
            position: absolute;
            bottom: 0;
            box-shadow: 0 30px 50px rgba(0,0,0,0.3);
            transform-origin: 100% 100%;
            transform: rotateX(90deg) translateY(130px);
            transition: box-shadow 350ms;
          }
        }
      }
    }
  }
}