/*title - web만 적용*/
.contact{
  width: 100%;
  .inner{
    width: 1180px;
    position:relative;
    margin: 0 auto;
    margin-bottom: 50px;
    border-bottom: 3px solid #000;

    &::after { content:""; display: block; clear: both;}
    .title{
      position: absolute; top: 50%; left: 50%; transform: translate(-50%, -58%);
      width: 70%; margin: 20px 0; height: 242px;
      border-right: 2px solid #000;
      border-left: 2px solid #000;

      h1{
        font: 700 140px/1 'Oswald';
        letter-spacing: 2px;
        text-align: center; text-transform: uppercase;
        padding: 40px 0 20px;
      }
      >p{
        font: 400 20px/1 'IM Fell English SC'; color: #555;
        text-align: center;
        padding: 10px 0;
      }
    }

    .memo{
      float: left; width: 15%; margin: 20px 0; height: 242px;
      padding:0px 30px;
      display: flex; flex-direction: column; justify-content: center; align-content: center;

      >span{
        font: 400 20px/1 'Oswald'; color: #555;
        margin-bottom: 10px;
      }
      >p{
        font: 400 14px/1.2 'Oswald'; color: #777;
      }
    }

    .numbering{
      float: right; width: 15%;  margin: 20px 0; height: 242px;
      display: flex; flex-direction: column; justify-content: center; align-items: center;
      >p{
        font: 400 14px/1.2 'Oswald'; color: #555;
        margin-bottom: 20px;
        position: relative;

        &::after{
          content: ""; display: block;
          width: 100%; height: 1px;
          background: #303030;
          position: absolute; bottom: -10px; left: 0;
        }
      }
      >strong{
        font: 700 32px/1 'Oswald'; color: $pink;
      }
    }
  }
}

/* loaction - article, map, button */
.location{
  .inner{
    width: 1180px; 
    position: relative;
    margin: 0 auto;

    h1{
      font: 600 22px/1 'Oswald';
      margin-bottom: 10px;
    }
    /*article - info headquater, brnach */
    .wrap{
      width: 100%;
      padding-bottom: 50px;
      margin-bottom: 20px;
      border-bottom: 3px solid #000; 

      article{
        float: left; width: 380px; margin-right: 20px;
        &:nth-of-type(3){margin-right: 0;}

        span{
          display: block;
          font: 400 14px/1 'Oswald'; text-align: center;
          padding: 10px 0px;
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
        }

        p{
          font: 600 24px/1 'Oswald'; text-align: center;
          padding: 15px 0px;
        }
        >ul{
          padding: 0 20px;
          display: flex; flex-direction: column; justify-content: flex-start;
          li{
            font: 400 16px/1.2 'Oswald';
            padding: 2px 0;
          }
        }
      }
    }

    /* kakao-map */
    .wrap_map{
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 3px solid #000;

      #map{
        width: 100%;
        height: 500px;
      }
    }

    /* button */
    .btn_branch{
      display: block;
      position: absolute; top: 330px; left: 0px; z-index: 1;
      li{
        text-align: center;
        margin-bottom: 15px;

        &.on button{  color: #111;}
        
        &:nth-of-type(1) button{
          background: rgba(216, 189, 210, 0.6);
          box-shadow: 0px 6px rgb(216, 189, 210);
        }
        &:nth-of-type(2) button{
          background: rgba(164, 205, 198, 0.6);
          box-shadow: 0px 6px rgb(164, 205, 198);
        }
        &:nth-of-type(3) button{
          background: rgba(132, 184, 193, 0.6);
          box-shadow: 0px 6px rgb(132, 184, 193);
        }
        &:nth-of-type(4) button{
          background: rgba(112, 161, 187, 0.6);
          box-shadow: 0px 6px rgb(112, 161, 187);
        }

        button{
          font: 600 18px/1 'Oswald';
          border: none;
          width: 150px;
          padding: 20px 30px;
          border-radius: 50px;
          color: #555;
          cursor: pointer;
          
          .off{color: rgba(255, 0, 0, 0.8);}
          .on{color: rgba(0, 0, 255, 0.8);}
        }
      }
    }
  }
}

/* recruit, support ,get in touch */
.message{
  .inner{
    width: 1180px;
    margin: 0 auto;
    position: relative;

    .wrap{
      width: 100%;
      margin-bottom: 20px;
      &::after{ content: ''; display: block; clear: both; }

      article{
        h1{
          font: 600 14px/1 'Oswald';
          border-bottom: 1px solid #000;
          margin-bottom: 10px;
          float: left; width: 100%;
        }
        .pic{
          width: 380px; height: 210px;
          float: left;

          img{
            width: 100%; height: 100%; 
            object-fit: cover;
          }
        }
        .txt{
          width: 380px; height: 210px;
          float: left;
        }

        /* recruit - float:right*/
        &:nth-of-type(1){
          width:390px;
          height: 620px;
          margin-top: 20px;
          padding: 0px 0px 40px 10px;
          float: right;
          border-left: 1px solid #000;

          .txt{
            h2{
              width: 100%;
              font: 700 36px/1.2 'Oswald';
              margin-bottom: 10px;
            }
            ul{
              width: 100%;
              margin: 0px 20px;
              li{
                font: 400 16px/1.2 'Oswald';
                list-style-type: square;
                list-style-position: outside;
                padding: 5px 20px 5px 0px;
              }
            }
          }
        }

        /* support - float:right*/
        &:nth-of-type(2){
          width:790px;
          height: 360px;
          margin-top: 20px;
          padding: 0px 10px 40px 0px;
          float: right; position: relative;

          .pic{
            margin-right: 10px;
            h2{
              width: 100%;
              font: 700 36px/1.2 'Oswald';
              margin-bottom: 10px;
            }
          }
          >.txt{
            font: 400 16px/1.2 'Oswald';
            
            p{
              margin-bottom: 30px;
            }
          }
        }

        /* get in touch - float:right*/
        &:nth-of-type(3){
          width: 790px;
          height: 260px;
          padding: 20px 10px 20px 0px;
          float: right;

          .pic{
            margin-right: 10px;
          }

          .txt{
            h2{
              width: 100%;
              font: 700 36px/1.2 'Oswald';
              margin-bottom:30px;
            }
          }

          #familySite{
            width:100%;
            height: 30px;
            border: 2px solid $lightbrown ;
            background: transparent;
          }
        }
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet){
  /*title - web만 적용*/
  .contact{
    .inner{
      width: 100%;
      margin-bottom:40px;
      border-bottom: none;

      .title{
        position: static; transform: translate(0%, 0%);
        width: 100%; border: none;
        margin: 20px 0; 
        height: auto;

        h1{
          font-size: 12vw;
          padding: 20px 0px;
        }
        >p{  display: none; }
      }

      .memo{ display: none; }
      .numbering{  display: none;}
    }
  }

  /* loaction - article, map, button */
  .location{
    .inner{
      width: 100%; 
      padding: 0 20px;

      /*article - info headquater, brnach */
      .wrap{
        padding-bottom: 20px;

        article{
          float: left; width: 30%; margin-right: 3%;
          &:nth-of-type(3){margin-right: 0;}

          >ul{
            padding: 0px 0px;

            li{
              font-size: 16px;
              padding: 5px 0;
              word-break:break-all;
            }
          }
        }
      }

      /* kakao-map */
      .wrap_map{
        #map{
          width: 100%;
          height: 500px;
        }
      }

      /* button */
      .btn_branch{
        top: 42%; left: 30px;
      }
    }
  }

  /* recruit, support ,get in touch */
  .message{
    .inner{
      width: 100%;
      padding: 0 20px;

      .wrap{
        width: 100%;
        margin-bottom: 20px;

        article{
          width: 100%; 
          margin-top: 20px;

          .pic{
            width: 50%; height: auto;
            float: left; 
          }
          .txt{
            width: 50%; height: auto;
            float: right; padding: 0 10px;
          }
          /* recruit - float:right*/
          &:nth-of-type(1){
            width: 100%; float: right;
            height: auto;
            padding: 0px;
            border-left: none;

            .txt{
              h2 { font-size: 28px; }
            }
          }
          /* support - float:right*/
          &:nth-of-type(2){
            width:100%; float: right;
            height: auto;
            padding: 0px ;

            .pic{
              margin-right: 0px;
              h2{  font-size: 28px;  }
            }
            .txt{
              font-size: 16px;
            }
          }

          /* get in touch - float:right*/
          &:nth-of-type(3){
            width: 100%; float: right;
            height: auto;
            padding: 0px;

            .pic{
              margin-right: 0px;
            }

            .txt{
              h2{  font-size: 28px;  }
            }
          }
        }
      }
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile){
  /*title - web만 적용*/
  .contact{
    .inner{
      margin-bottom:20px;
    }
  }

  /* loaction - article, map, button */
  .location{
    .inner{
      /*article - info headquater, brnach */
      .wrap{
        article{
          width: 100%; margin-right: 0%;

          >ul{
            margin-bottom: 20px;
          }
        }
      }

      /* kakao-map */
      .wrap_map{
        #map{
          width: 100%;
          height: 500px;
        }
      }

      /* button */
      .btn_branch{
        top: 62%; left: 30px;
      }
    }
  }

  /* recruit, support ,get in touch */
  .message{
    .inner{
      .wrap{
        article{
          .pic{  width: 100%;  }
          .txt{
            width: 100%;
            float: left; padding: 0px;
          }

          /* support - float:right*/
          &:nth-of-type(2){
            .pic{ margin-bottom: 10px; }
          }
        }
      }
    }
  }
}