.gallery{
  position: relative;
  .inner{
    h1{color: $backgroundColor;}

    /* Search - input, button*/
    .searchBox{
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px;
      display: flex; justify-content: center; align-items: center; flex-wrap: nowrap;
      opacity: 0;
      transform: translateY(200px);
      transition : 1s;

      &.on{
        opacity: 1;
        transform: translateY(0px);
      }
      
      input[type=text]{
        width: 500px; height: 30px; 
        padding: 15px 10px;
        margin-right: 20px;
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
      }
      .btnSearch{
        border: 1px solid #ddd;
        width: 200px; height: 30px; 
        font: bold 15px/30px 'Oswald';
        color: #ddd; background: transparent;
        cursor: pointer;
      }
    }

    /* loading */
    .loading{
      position: absolute;
      top: 300px; left: 50%;
      transform: translateX(-50%);
    }

    /* flicker list - img, figcaption */
    .list{
      opacity: 0;
      transform: translateY(200px);
      transition : 1s;
      position: relative;
  
      &.on{
        opacity: 1;
        transform: translateY(0px);
      }

      .wrap{
        li{
          float: left;
          width: 25%; 
          padding: 10px;
  
          figure{
            width: 100%;
            padding: 10px 0px;
            border-top: 4px solid $backgroundColor;
            position: relative;
  
            .pic{
              overflow: hidden;
              margin-bottom: 10px;
              img{
                width: 100%;
                object-fit: cover;
                filter: grayscale(70%);
                transition: 0.5s;
              }         
            }
          }
        }
  
        figcaption{
          width: 100%;
          border-bottom: 4px solid $backgroundColor;
  
          p{
            font: 400 18px/1 'Oswald';
            margin-bottom: 10px; 
            color: $backgroundColor;
          }
          span{
            display: block;
            font: 400 14px/1 'Oswald';
            margin-bottom: 10px;
            text-align: right;
            color: $backgroundColor;
            
            &:before{
              content: 'by ';
            }
          }
          .btnMore{
            text-align: center;
            font: 600 16px/1 'Oswald';
            padding: 5px 10px;
            border: 1px solid $backgroundColor;
            margin-bottom: 10px;
            background: rgba(230, 226, 221, 0.3);
            color: $txt;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
              background: rgb(230, 226, 221);
            }
          }
        }
      }
    }
  }

  .pop{
    width: 100%; height: 100vh;
    position: fixed; top: 0px; left: 0px; z-index: 1;
    background: rgba(0,0,0,0.9);
    padding: 5vw;
  
    img{
      width: 100%; height: 95%; object-fit: contain;
    }
    p{
      font: 14px/1.2 "arial"; color: #fff;
      text-align: center;
    }

    span{
      font-size:26px; color: #fff;
      position: absolute; top: 3vw; right: 5vw;
      cursor: pointer;
    }
  }
}

/*tablet*/
@media screen and (max-width: $tablet){
  .gallery{

    .inner .title_wrap{
      width: 90%;
      padding: 30px 0;
    }

    .inner .searchBox input[type=text]{
      width: 80%;
    }
    .inner .searchBox .btnSearch{
      width: 20%;
    }

    .item{ width: 33.333%!important;}
  }
}

@media screen and (max-width: 739px){
  .gallery{
    .item{ width: 50%!important;}
  }
}

@media screen and (max-width: $mobile) {
  .gallery{
    .inner .title_wrap{
      width: 95%;
      padding: 20px 0;

      p{
        padding: 10px 0px;
        font-size: 16px;
      }
      h1{
        padding: 30px 0;
        letter-spacing: 2px;
      }
    }

    .inner .searchBox{
      margin-bottom: 20px;
      flex-wrap: wrap;
      input[type=text]{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
      }
      .btnSearch{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 479px){
  .gallery{
    .item{ width: 100%!important;}
  }
}