.gallery{
  .inner{
    .title_wrap{
      width: 80%;
      margin: 0 auto;
      padding: 30px 0;
  
      p{
        background: #C1554E;
        color: $backgroundColor;
        padding: 20px 0px;
        font: 600 18px/1 'Oswald'; text-align: center;
        text-transform: uppercase;
      }
      h1{
        padding: 40px 0;
        text-align: center;
        font: 700 160px/1 'Oswald';
        letter-spacing: 2px;
        text-transform: uppercase;
        border: 2px solid #C1554E;
        color: #C1554E;
      }
    }

    .searchBox{
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px;
      display: flex; justify-content: center; align-items: center; flex-wrap: nowrap;
      
  
      input[type=text]{
        width: 500px; height: 30px; 
        padding: 15px 10px;
        margin-right: 20px;
        border: none;
        border-bottom: 1px solid #555;
        background: transparent;
      }
      .btnSearch{
        border: 1px solid #555;
        width: 200px; height: 30px; 
        font: bold 15px/30px 'Oswald';
        color: #555; background: transparent;
        cursor: pointer;
      }
    }

    .loading{
      position: absolute;
      top: 300px; left: 50%;
      width: 50%;
      transform: translateX(-50%);
    }

    .list{
      // opacity: 0;
      // transform: translateY(200px);
      // transition : 1s;
      // position: relative;
  
      // &.on{
      //   opacity: 1;
      //   transform: translateY(0px);
      // }

      .wrap{
        li{
          float: left;
          width: 25%; 
          padding: 10px;
          &:nth-of-type(3n){margin-right: 0px;}
  
          figure{
            width: 100%;
            padding: 10px 0px;
            border-top: 2px solid #000;
            position: relative;
  
            .pic{
              overflow: hidden;
              margin-bottom: 10px;
              img{
                width: 100%;
                object-fit: cover;
                filter: grayscale(70%);
                transition: 0.5s;
              }         
            }
          }
        }
  
        figcaption{
          width: 100%;
          border-bottom: 2px solid #000;
  
          p{
            font: 400 18px/1 'Oswald';
            margin-bottom: 10px; 
          }
          span{
            display: block;
            font: 400 14px/1 'Oswald';
            margin-bottom: 10px;
            text-align: right;
            
            &:before{
              content: 'by ';
            }
          }
          .btnMore{
            text-align: center;
            font: 600 16px/1 'Oswald';
            padding: 5px 10px;
            border: 1px solid #000;
            margin-bottom: 10px;
            color: $txt;
            cursor: pointer;
          }
        }
      }
    }
  }

  .pop{
    width: 100%; height: 100vh;
    position: fixed; top: 0px; left: 0px;
    background: rgba(0,0,0,0.9);
    padding: 5vw;
  
    img{
      width: 100%; height: 95%; object-fit: contain;
    }
    p{
      font: 14px/1.2 "arial"; color: #fff;
      text-align: center;
    }

    span{
      font: bold 14px/1 'arial'; color: #fff;
      position: absolute; top: 3vw; right: 5vw;
      cursor: pointer;
    }
  }
}
/*tablet*/
