.join{
  .inner{
    h1{
      font: 50px/1 'IM Fell English SC';
    }

    form{
      margin: 0 auto;
      width: 560px;


      table{
        margin: 0 auto;
        width: 560px; margin-bottom: 80px;
  
        th, td {
          padding: 6px 20px; 
        }
        th{
          width: 30%; text-align: left;
          font: 24px/1 'IM Fell English SC'; ;
          text-transform: lowercase;
  
          &.btnSet{
            text-align: center; border-right: none;
  
            input[type=reset], input[type=submit]{
              width: 150px; height: 32px; 
              text-align: center; margin: 20px 20px 10px ;
              transition: 0.5s;
              background: rgba(185, 188, 186, 0.3);
              border: 1px solid #b9bcba;
              position: relative; cursor: pointer;
              box-shadow: 0 6px #9BA4A1;
              font-family: 'IM Fell English SC' ;
  
              &:hover{
                box-shadow: 0 4px #9BA4A1;
                top:2px;
              }
            }
          }
        }
        td{
          input[type=text], input[type=password], select{
            width: 100%; padding: 10px 15px; border: 2px solid #848785;
            background: rgba(185, 188, 186, 0.5);
          }
          textarea{
            width: 100%; height: 150px; padding: 10px 20px;border: 2px solid #848785; background: rgba(185, 188, 186, 0.5);
            resize: none;
          }
          label{
            font: 14px/1 'IM Fell English SC'; color: #777; margin-right: 5px; text-transform: uppercase;
            margin-right: 20px;
          }
          input[type=radio], input[type=checkbox]{
            margin-right: 20px; position: relative; top: 2px;
          }
        }
      }
      .err{
        display: block; margin-top: 5px;
        font: 14px/1 'arial';
        color: $pink;
        text-transform: lowercase;
      }
    }




  }
}

@media screen and (max-width: 1199px){
  .join .inner table td {
    input[type=text], input[type=password], select {
      width: 90%;  
    }
    textarea {
      width: 90%; 
    }
  }
}

@media screen and (max-width: $tablet){
  .join .inner table th {
    position: absolute; top: -99999px; opacity: 0;

    &.btnSet {
      position: relative;
      top: 0px;
      opacity: 1;
    }
  }

  .join .inner table td {
    input[type=text], input[type=password], select {
      width: 100%;  
    }
    textarea {
      width: 100%; 
    }

  }

}

@media screen and (max-width: $mobile){
}