$red: #5D0000; //#BD8F4D; //#6C1611;

.note{
  .inner{
    display: flex; justify-content: space-between;

    /* section - noteTile */
    .noteTitle{
      width: 20%; 
      position: relative;
      display: flex; flex-direction: column; justify-content: space-between;

      .title{
        width: 100%;
        border-top: 10px solid $red;
        border-bottom: 10px solid $red; padding-bottom: 20px;
        h1{
          font: 700 34px/1 'Oswald';
          padding: 10px 20px;
          margin-bottom: 20px;
        }
        ul li{
          font-size: 14px;
          padding: 2px 20px 2px 0px;
          margin-left: 20px;
          list-style-type: square;
        }
      }
      .year{
        width: 100%;
        strong{
          font: 700 12vh/1 'Oswald'; white-space: nowrap;
          transform: rotate(270deg) ; transform-origin: right bottom;
          position: absolute; top: 25%; right: 0px;
          color: $red;
        }
      }
    }

    /* inputBox */
    .inputBox{
      width: 35%; background: $red;
      padding: 0 20px;

      h1{
        font: 700 50px/1.1 'Oswald';
        color: $bgLight; padding: 20px 10px;
        margin-bottom: 40px;
        border-bottom: 4px solid $bgLight;
      }
      .wrap{
        width: 300px; padding: 20px 30px; margin: 0 auto;
        display: flex; flex-wrap: wrap;
        background: $lightbrown;

        h2{
          font: 600 38px/1.1 'Nanum Pen Script';
          padding: 10px 0;
        }
        input{
          width: 100%; 
          &:nth-of-type(3), &:nth-of-type(4){ width: 50%;}
          height: 40px; padding: 10px 10px;
          background: $lightbrown; border:none;
          border-top: 1px solid #777;
        }
        textarea{
          width: 100%; height: 160px; padding: 5px 10px; resize: none;
          background: $lightbrown; border:none;
          border-top: 1px solid #777;
          border-bottom: 1px solid #777;
          margin-bottom: 20px;
        }
        button{
          width: 50%; height: 30px;
          background: $lightbrown; border:1px solid #555;
          font: 400 14px/1 'Oswald'; cursor: pointer; transition: 0.3s;

          &:hover{ background: #333; color: $lightbrown;}
        }
      }
    }

    /* showBox */
    .showBox{
      width: 35%; 
      padding: 60px 20px; height: 1000px; overflow: auto;
      
      //스크롤바
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.2);
      }
      &::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0.1);
      }

      article{
        width: 300px; margin: 0 auto;
        padding: 10px 0;
        margin-bottom: 40px;
        background: $lightbrown;

        .post{
          width: 300px; padding: 10px 30px 20px; margin: 0 auto;
          display: flex; flex-wrap: wrap;
          
  
          h2{
            font: 600 38px/1.1 'Nanum Pen Script';
            padding: 10px 0;
          }
          /*수정모드*/
          input{
            width: 100%; 
            &:nth-of-type(3), &:nth-of-type(4){ width: 50%;}
            height: 40px; padding: 10px 10px;
            background: $lightbrown; border:none;
            border-top: 1px solid #777;
          }
          textarea{
            width: 100%; height: 160px; padding: 5px 10px; resize: none;
            background: $lightbrown; border:none;
            border-top: 1px solid #777;
            border-bottom: 1px solid #777;
          }
          /*출력모드*/
          .written{
            display: flex; flex-wrap: wrap;
            li{
              width: 100%; 
              &:nth-of-type(3), &:nth-of-type(4){ 
                width: 50%; 
                strong{display: block; margin: 5px 10px 5px 0px; }
              }
              &:nth-of-type(5){
                height: 160px; overflow: auto;
                strong{display: block; margin: 5px 10px 5px 0px;}
                //스크롤바
                &::-webkit-scrollbar {
                  width: 10px;
                }
                &::-webkit-scrollbar-thumb {
                  background-color: rgba(0,0,0,0.3);
                }
                &::-webkit-scrollbar-track {
                  background-color: rgba(0,0,0,0.2);
                }
              }

              font: 18px/1 'Nanum Pen Script';
              padding: 10px 10px;
              background: $lightbrown; border:none;
              border-top: 1px solid #777;
              
              strong{
                font: 12px/1 'arial'; margin-right: 10px; color: #777;
              }
            }
          }
        }
        /*버튼*/
        .btns{
          display: flex; justify-content: space-around;
          margin-bottom: 10px; padding: 0 30px;

          li{
            width: 50%; height: 30px;
            text-align: center;
            font: 400 14px/30px 'Oswald'; cursor: pointer; transition: 0.3s;
            border-top:1px solid #555;
            border-bottom:1px solid #555;
            

            &:hover{ background: #333; color: $lightbrown;}
          }
        }
      }
    }

    /* bookmark */
    .bookmark{
      width: 10%; padding: 0 20px;

      p{
        font: 400 20px/1 'Oswald'; padding: 10px 0; text-align: center;
        background: $red; color: $bgLight;
        height: 100px;  position: relative;

        .svg_triangle{
          position: absolute;bottom: 0;left: 0;
          width: 100%;overflow: hidden;
          line-height: 0; transform: rotate(180deg);
  
          svg {
            position: relative;display: block;
            width: calc(100% + 1.3px); height: 20px;
          }
          .shape-fill {
            fill: $bgLight;
        }
        }
      }
    }
  }
}