$red: #5D0000;

.note{
  .inner{
    display: flex; justify-content: space-between;
    min-height: auto;

    /* section - noteTile */
    .noteTitle{
      width: 20%; height: 100vh;
      position: relative;
      display: flex; flex-direction: column; justify-content: space-between;

      .title{
        width: 100%;
        border-top: 6px solid $dark;
        border-bottom: 6px solid $dark; padding-bottom: 20px;
        h1{
          font: 700 34px/1 'Oswald';
          padding: 10px 20px;
          margin-bottom: 20px;
        }
        ul li{
          font-size: 14px;
          padding: 2px 20px 2px 0px;
          margin-left: 20px;
          list-style-type: square;
        }
      }
      .year{
        width: 100%;
        strong{
          font: 700 8vh/1 'Oswald'; white-space: nowrap;
          transform: rotate(270deg) ; transform-origin: right bottom;
          position: absolute; top: 35%; right: 0px;
          color: $dark;
        }
      }
    }

    /* inputBox */
    .inputBox{
      width: 35%; background: $dark; height: 100vh;
      padding: 0 20px;

      h1{
        font: 700 50px/1.1 'Oswald';
        color: $bgLight; padding: 20px 10px;
        margin-bottom: 40px;
        border-bottom: 4px solid $bgLight;
      }
      .wrap{
        width: 300px; padding: 20px 30px; margin: 0 auto;
        display: flex; flex-wrap: wrap;
        background: $lightbrown;

        h2{
          font: 600 38px/1.1 'Nanum Pen Script';
          padding: 10px 0;
        }
        input{
          width: 100%; 
          &:nth-of-type(3), &:nth-of-type(4){ width: 50%;}
          height: 40px; padding: 10px 10px;
          background: $lightbrown; border:none;
          border-top: 1px solid #777;
        }
        textarea{
          width: 100%; height: 160px; padding: 5px 10px; resize: none;
          background: $lightbrown; border:none;
          border-top: 1px solid #777;
          border-bottom: 1px solid #777;
          margin-bottom: 20px;
        }
        button{
          width: 50%; height: 30px;
          background: $lightbrown; border:1px solid #555;
          font: 400 14px/1 'Oswald'; cursor: pointer; transition: 0.3s;

          &:hover{ background: #333; color: $lightbrown;}
        }
      }
    }

    /* showBox */
    .showBox{
      width: 45%; height: 100vh;
      padding: 60px 20px; overflow: auto;
      
      //스크롤바
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.2);
      }
      &::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0.1);
      }

      article{
        width: 300px; margin: 0 auto;
        padding: 10px 0;
        margin-bottom: 40px;
        background: $lightbrown;

        .post{
          width: 300px; padding: 10px 30px 20px; margin: 0 auto;
          display: flex; flex-wrap: wrap;
          
  
          h2{
            font: 600 38px/1.1 'Nanum Pen Script';
            padding: 10px 0;
          }
          /*수정모드*/
          input{
            width: 100%; 
            &:nth-of-type(3), &:nth-of-type(4){ width: 50%;}
            height: 40px; padding: 10px 10px;
            background: $lightbrown; border:none;
            border-top: 1px solid #777;
          }
          textarea{
            width: 100%; height: 160px; padding: 5px 10px; resize: none;
            background: $lightbrown; border:none;
            border-top: 1px solid #777;
            border-bottom: 1px solid #777;
          }
          /*출력모드*/
          .written{
            display: flex; flex-wrap: wrap;
            li{
              width: 100%; 
              &:nth-of-type(3), &:nth-of-type(4){ 
                width: 50%; 
                strong{display: block; margin: 5px 10px 5px 0px; }
              }
              &:nth-of-type(5) strong{display: block; margin: 5px 10px 5px 0px;}
              

              font: 18px/1 'Nanum Pen Script';
              padding: 10px 10px;
              background: $lightbrown; border:none;
              border-top: 1px solid #777;
              
              strong{
                font: 12px/1 'arial'; margin-right: 10px; color: #777;
              }
            }
          }
        }
        /*버튼*/
        .btns{
          display: flex; justify-content: space-around;
          margin-bottom: 10px; padding: 0 30px;

          li{
            width: 50%; height: 30px;
            text-align: center;
            font: 400 14px/30px 'Oswald'; cursor: pointer; transition: 0.3s;
            border-top:1px solid #555;
            border-bottom:1px solid #555;
            

            &:hover{ background: #333; color: $lightbrown;}
          }
        }
      }
    }
  }
}

/* tablet*/
@media screen and (max-width: $tablet){
  .note .inner{
    flex-wrap: wrap;
    .noteTitle{
      width: 100%; height: auto;
      .title{ padding: 0px 20px 20px;}
      .year strong{
        font-size: 40px;
        transform: none; transform-origin: center center; position: absolute; top:auto; bottom: 10px; right: 20px;
      }
    }
    .inputBox{width: 50%;  height: 700px;}
    .showBox{width: 50%;  height: 700px;}
  }
}

@media screen and (max-width: 768px){
  .note .inner{
    .noteTitle .title {padding-bottom: 30px;}
    .inputBox{width: 100%; padding-bottom: 40px;}
    .inputBox h1 {font-size: 38px;}
    .showBox{width: 100%;}
  }
}

/* mobile */
@media screen and (max-width: $mobile){
  .note .inner{
    .noteTitle .title {padding-bottom: 50px;}
    .inputBox {padding: 0px 0px 40px;}
    .inputBox h1 {font-size: 28px;}
    .showBox {padding: 60px 0px;}
  }
}