.youtube{
  .inner{

    /* youtube vid list*/
    .list{
      width: 100%;

      article{
        width: 100%;
        display: flex; justify-content: space-around; align-items: center;
        margin-bottom: 80px;

        &:nth-of-type(2n) {flex-direction: row-reverse;}

        .pic{
          width: 35%;
          height: 250px;
          background: url(/src/img/Film2.jpg) no-repeat center/cover;
          cursor: pointer;

          img{
            width: 100%; height: 100%; object-fit: cover; 
            padding: 35px 0px;
            opacity: 0.6; transition: 0.5s;
          }
        }

        .txt{
          width: 60%;
          height: 250px;
          position: relative;
          opacity: 0.8;


          .mainTick{
            display: grid;
            width: calc(100% - 250px);
            height: 250px;
            grid-template-areas: 'icon tickName tickName tickName '
                                          'icon descYoutb descYoutb descYoutb'
                                          'titleYoutb titleYoutb titleYoutb titleYoutb'
                                          'star star star price'
                                          'date seat time sign'
                                          'tickNum tickNum tickNum tickNum';
            
            >div{
              background: skyblue;
              border: 1px solid #000;
              align-self: 20px;
            }

            .icon{
              grid-area: icon;
            }
            .tickName{
              grid-area: tickName;
            }
            .descYoutb{
              grid-area: descYoutb;
            }
            .titleYoutb{
              grid-area: titleYoutb;
            }
            .star{
              grid-area: star;
            }
            .date{
              grid-area: date;
            }
            .seat{
              grid-area: seat;
            }
            .time{
              grid-area: time;
            }
            .price{
              grid-area: price;
            }
            .sign{
              grid-area: sign;
            }
            .tickNum{
              grid-area: tickNum;
            }
          }

          /*
          h2{
            font: 600 36px/1 'Oswald';
            padding: 40px 20px 20px;
            color: #005B4B;
          }
          p{
            font: 400 16px/1 'Oswald';
            padding: 0 20px 60px;
            min-height: 108px; overflow: hidden;
          }
          span{
            display:block;
            font: 400 14px/1 'Oswald';
            padding: 0 20px;
            text-align: right;
          }
*/
        }

        &:hover{
          .pic img {opacity: 1;}
          .txt {opacity: 1;}
        }
      }
    }

    /* popup */
    .pop{
      width: 100%; height: 100vh;
      position: fixed; top: 0px; left: 0px;
      background: rgba(0,0,0,0.9);
      padding: 5vw;

      iframe{
        border: none;
        width: 100%; height: 100%;
      }
      
      span{
        position: absolute; top: 3vw; right: 5vw;
        font: bold 14px/1 'arial'; color: #fff;
        cursor: pointer;
      }
    }
  }
}

/* tablet*/
@media screen and (max-width: $tablet){
  .youtube{
    .inner{
      /* youtube vid list*/
      .list{
        article{
          width: 100%; padding: 0 20px;
          flex-wrap: wrap; flex-direction: column; align-items: flex-start;
          margin-bottom: 60px;
  
          &:nth-of-type(2n) {flex-direction: column; align-items: flex-end;}
  
          .pic{
            width: 35%; min-width: 320px;
            height: 240px;
            margin-bottom: 20px;
          }
          .txt{
            width: 70%;  min-width: 480px;
            height: 220px;
  
            h2{
              font-size: 30px;
              padding: 30px 20px 20px;
            }
            p{
              font: 400 16px/1 'Oswald';
              padding: 0 20px 0px;
              margin-bottom: 16px;
              min-height: 87px; overflow: hidden;
            }
            .btnWatch{
              bottom: 15px; left: 20px;
            }
          }
        }
      }
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile){
  .youtube{
    .inner{
      /* youtube vid list*/
      .list{
        article{
          width: 100%; padding: 0px 0px;
          margin-bottom: 40px;
  
          .pic{
            width: 100%; min-width: auto;
            height: 210px;
            margin-bottom: 20px;
          }
          .txt{
            width: 100%;  min-width: auto;
            height: 240px;
  
            h2{
              font-size: 22px;
              padding: 20px 10px 20px;
            }
            p{
              font-size: 14px;
              padding: 0px 10px ;
              margin-bottom: 55px;
              min-height: 87px; overflow: hidden;
            }
            .btnWatch{
              bottom: 15px; left: 10px;
            }
          }
        }
      }
    }
  }
}