.youtube{
  .inner{

    /* title */
    >.title_wrap{
      width: 100%;
      background: $dark;

      h1{
        font: 400 70px/1 'Oswald';
        padding: 10px 20px; text-align: right;
        color: $backgroundColor;
        text-transform: uppercase;
      }
    }
  }
}

