@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap");
/*색상*/
/*반응형*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

table {
  border-collapse: collapse; }

fieldset {
  border: none; }

#header {
  width: 100%; }
  #header .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #header .inner h1 {
      width: 100%;
      padding: 40px 0 10px;
      font: 700 60px/1 'Oswald';
      letter-spacing: 5px;
      text-align: center; }
      #header .inner h1 a {
        color: #303030; }
    #header .inner p {
      width: 100%;
      font: 600 20px/1 'Oswald';
      letter-spacing: 5px;
      text-align: center;
      padding-bottom: 40px;
      border-bottom: 4px solid #000;
      position: relative; }
      #header .inner p::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: -10px;
        left: 0; }
    #header .inner #gnb {
      width: 100%;
      padding: 15px 80px 10px;
      border-bottom: 2px solid #000; }
      #header .inner #gnb ul {
        display: flex;
        justify-content: space-around; }
        #header .inner #gnb ul li {
          font: 400 14px/ 1 'Oswald'; }
          #header .inner #gnb ul li a {
            color: #303030; }
    #header .inner .util {
      position: absolute;
      top: 140px;
      right: 0; }
      #header .inner .util ul {
        display: flex;
        justify-content: flex-end; }
        #header .inner .util ul li {
          font: 400 14px/1 'Oswald';
          margin-left: 20px;
          padding: 2px 5px;
          background: #ffbb00; }
          #header .inner .util ul li a {
            color: #303030; }

/* tablet */
@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%; }
    #header .inner h1 {
      padding: 30px 0 10px;
      font-size: 40px;
      letter-spacing: 4px; }
    #header .inner p {
      font-size: 18px;
      letter-spacing: 3px;
      padding-bottom: 50px; }
    #header .inner #gnb {
      padding: 15px 80px 10px; }
      #header .inner #gnb ul li {
        font: 400 14px/ 1 'Oswald'; }
    #header .inner .util {
      position: absolute;
      top: 120px;
      right: 3vw; }
      #header .inner .util ul li {
        font-size: 14px;
        margin-left: 20px; } }
/* moblie */
@media screen and (max-width: 539px) {
  #header .inner h1 {
    padding: 30px 0 10px;
    font-size: 26px; }
  #header .inner p {
    font-size: 14px;
    letter-spacing: 2px;
    padding-bottom: 40px; }
  #header .inner #gnb {
    padding: 15px 10px 10px; }
  #header .inner .util {
    position: absolute;
    top: 95px;
    right: 3vw; } }
#footer {
  width: 100%; }
  #footer .inner {
    width: 1180px;
    position: relative;
    margin: 0 auto;
    border-top: 2px solid #000;
    border-bottom: 6px solid #000; }
    #footer .inner .wrap {
      display: flex;
      justify-content: space-between;
      align-content: center; }
      #footer .inner .wrap .newsletter {
        flex: 3;
        display: flex;
        flex-wrap: wrap;
        align-items: center; }
        #footer .inner .wrap .newsletter .txt_wrap {
          width: 100%; }
          #footer .inner .wrap .newsletter .txt_wrap span {
            width: 100%;
            font: 400 40px/1 'Oswald'; }
          #footer .inner .wrap .newsletter .txt_wrap > p {
            width: 100%;
            font: 400 12px/1.2 'Oswald';
            letter-spacing: 1px; }
        #footer .inner .wrap .newsletter .input_wrap {
          width: 100%; }
          #footer .inner .wrap .newsletter .input_wrap #newsletterInput {
            width: 60%;
            height: 30px;
            background: transparent;
            border: none;
            border-bottom: 1px solid #555;
            margin-right: 10px;
            padding: 5px 5px; }
          #footer .inner .wrap .newsletter .input_wrap #newsletterSubmit {
            width: 20%;
            height: 30px;
            background: transparent;
            font: 400 16px/1 'Oswald';
            cursor: pointer; }
      #footer .inner .wrap .sitemap {
        flex: 1;
        border-left: 1px solid #000; }
        #footer .inner .wrap .sitemap li {
          font: 400 14px/1 'Oswald';
          letter-spacing: 1px;
          margin-bottom: 10px;
          padding-left: 20px; }
          #footer .inner .wrap .sitemap li:first-child {
            margin-top: 10px; }
          #footer .inner .wrap .sitemap li:last-child {
            margin-top: 40px; }
      #footer .inner .wrap .terms {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end; }
        #footer .inner .wrap .terms li {
          font: 400 14px/1 'Oswald';
          margin-bottom: 10px; }
          #footer .inner .wrap .terms li:first-child {
            margin-right: 10px; }
          #footer .inner .wrap .terms li:last-child {
            padding-left: 10px;
            border-left: 1px solid #000; }
      #footer .inner .wrap .sns {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end; }
        #footer .inner .wrap .sns li {
          font: 400 14px/1 'Oswald';
          margin-bottom: 10px;
          padding: 0 10px; }
    #footer .inner > p {
      font: 600 14px/1 'Oswald';
      border-top: 2px solid #000;
      padding: 5px 0px;
      text-align: right; }

/* tablet */
@media screen and (max-width: 1179px) {
  #footer .inner {
    width: 100%; }
    #footer .inner .wrap {
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-wrap: wrap; }
      #footer .inner .wrap .newsletter {
        flex: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-bottom: 20px; }
        #footer .inner .wrap .newsletter .txt_wrap {
          width: 50%;
          padding: 10px 30px; }
          #footer .inner .wrap .newsletter .txt_wrap span {
            width: 100%;
            font-size: 38px; }
          #footer .inner .wrap .newsletter .txt_wrap > p {
            width: 100%;
            font-size: 12px; }
        #footer .inner .wrap .newsletter .input_wrap {
          width: 50%;
          padding: 10px 30px; }
          #footer .inner .wrap .newsletter .input_wrap #newsletterInput {
            width: 70%; }
      #footer .inner .wrap .sitemap {
        flex: auto;
        width: 100%;
        border-left: none;
        display: flex;
        justify-content: flex-start;
        padding: 0 30px;
        margin-bottom: 20px; }
        #footer .inner .wrap .sitemap > li {
          font-size: 14px;
          margin-bottom: 0px;
          padding: 0px;
          padding-right: 20px; }
          #footer .inner .wrap .sitemap > li:first-child {
            margin-top: 0px; }
          #footer .inner .wrap .sitemap > li:last-child {
            margin-top: 0px;
            font-size: 13px;
            padding-right: 0px;
            letter-spacing: 0.2px; }
      #footer .inner .wrap .terms {
        flex: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 0 30px; }
        #footer .inner .wrap .terms li {
          font-size: 14px; }
      #footer .inner .wrap .sns {
        flex: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 30px; }
        #footer .inner .wrap .sns li {
          font-size: 14px; }
    #footer .inner > p {
      font-size: 14px; } }
/* mobile */
@media screen and (max-width: 539px) {
  #footer .inner .wrap .newsletter {
    width: 100%;
    display: block;
    margin-bottom: 20px; }
    #footer .inner .wrap .newsletter .txt_wrap {
      width: 100%;
      padding: 10px 10px; }
      #footer .inner .wrap .newsletter .txt_wrap span {
        width: 100%;
        font-size: 30px; }
      #footer .inner .wrap .newsletter .txt_wrap > p {
        width: 100%;
        font-size: 12px; }
    #footer .inner .wrap .newsletter .input_wrap {
      width: 100%;
      padding: 10px 10px; }
  #footer .inner .wrap .sitemap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-bottom: 20px; }
    #footer .inner .wrap .sitemap > li {
      margin-bottom: 10px;
      padding-right: 15px; }
      #footer .inner .wrap .sitemap > li:last-child {
        width: 100%;
        font-size: 13px;
        text-align: right; }
  #footer .inner .wrap .terms {
    padding: 0px 10px; }
  #footer .inner .wrap .sns {
    flex: auto;
    padding: 0px 10px; } }
.content {
  width: 100%; }
  .content .inner {
    width: 1180px;
    position: relative;
    margin: 0 auto;
    min-height: 800px; }
    .content .inner h1 {
      padding: 40px 0;
      text-align: center;
      font: 700 160px/1 'Oswald';
      letter-spacing: 2px;
      text-transform: uppercase; }

/* tablet */
@media screen and (max-width: 1179px) {
  .content .inner {
    width: 100%; }
    .content .inner h1 {
      padding: 30px 0;
      font-size: 90px !important; } }
/* mobile*/
@media screen and (max-width: 539px) {
  .content .inner h1 {
    padding: 20px 0;
    font-size: 14vw; } }
.gallery .inner .title_wrap {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0; }
  .gallery .inner .title_wrap p {
    background: #C1554E;
    color: #e6e2dd;
    padding: 20px 0px;
    font: 600 18px/1 'Oswald';
    text-align: center;
    text-transform: uppercase; }
  .gallery .inner .title_wrap h1 {
    padding: 40px 0;
    text-align: center;
    font: 700 160px/1 'Oswald';
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid #C1554E;
    color: #C1554E; }
.gallery .inner .searchBox {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .gallery .inner .searchBox input[type=text] {
    width: 500px;
    height: 30px;
    padding: 15px 10px;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid #555;
    background: transparent; }
  .gallery .inner .searchBox .btnSearch {
    border: 1px solid #555;
    width: 200px;
    height: 30px;
    font: bold 15px/30px 'Oswald';
    color: #555;
    background: transparent;
    cursor: pointer; }
.gallery .inner .loading {
  position: absolute;
  top: 300px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%); }
.gallery .inner .list .wrap li {
  float: left;
  width: 25%;
  padding: 10px; }
  .gallery .inner .list .wrap li:nth-of-type(3n) {
    margin-right: 0px; }
  .gallery .inner .list .wrap li figure {
    width: 100%;
    padding: 10px 0px;
    border-top: 2px solid #000;
    position: relative; }
    .gallery .inner .list .wrap li figure .pic {
      overflow: hidden;
      margin-bottom: 10px; }
      .gallery .inner .list .wrap li figure .pic img {
        width: 100%;
        object-fit: cover;
        filter: grayscale(70%);
        transition: 0.5s; }
.gallery .inner .list .wrap figcaption {
  width: 100%;
  border-bottom: 2px solid #000; }
  .gallery .inner .list .wrap figcaption p {
    font: 400 18px/1 'Oswald';
    margin-bottom: 10px; }
  .gallery .inner .list .wrap figcaption span {
    display: block;
    font: 400 14px/1 'Oswald';
    margin-bottom: 10px;
    text-align: right; }
    .gallery .inner .list .wrap figcaption span:before {
      content: 'by '; }
  .gallery .inner .list .wrap figcaption .btnMore {
    text-align: center;
    font: 600 16px/1 'Oswald';
    padding: 5px 10px;
    border: 1px solid #000;
    margin-bottom: 10px;
    color: #303030;
    cursor: pointer; }
.gallery .pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw; }
  .gallery .pop img {
    width: 100%;
    height: 95%;
    object-fit: contain; }
  .gallery .pop p {
    font: 14px/1.2 "arial";
    color: #fff;
    text-align: center; }
  .gallery .pop span {
    font: bold 14px/1 'arial';
    color: #fff;
    position: absolute;
    top: 3vw;
    right: 5vw;
    cursor: pointer; }

/*tablet*/
html {
  background-color: #e6e2dd;
  color: #303030; }

/*# sourceMappingURL=style.css.map */
