@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=IM+Fell+English+SC&display=swap");
/*색상*/
/*반응형*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #303030; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

table {
  border-collapse: collapse; }

fieldset {
  border: none; }

#header {
  width: 100%; }
  #header .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #header .inner h1 {
      width: 100%;
      padding: 40px 0 10px;
      font: 700 60px/1 'Oswald';
      letter-spacing: 5px;
      text-align: center; }
      #header .inner h1 a {
        color: #303030; }
    #header .inner p {
      width: 100%;
      font: 600 20px/1 'Oswald';
      letter-spacing: 5px;
      text-align: center;
      padding-bottom: 40px;
      border-bottom: 4px solid #000;
      position: relative; }
      #header .inner p::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: -10px;
        left: 0; }
    #header .inner #gnb {
      width: 100%;
      padding: 15px 80px 10px;
      border-bottom: 2px solid #000; }
      #header .inner #gnb ul {
        display: flex;
        justify-content: space-around; }
        #header .inner #gnb ul li {
          font: 400 14px/ 1 'Oswald'; }
          #header .inner #gnb ul li a {
            color: #303030; }
    #header .inner .util {
      position: absolute;
      top: 140px;
      right: 0; }
      #header .inner .util ul {
        display: flex;
        justify-content: flex-end; }
        #header .inner .util ul li {
          font: 400 14px/1 'Oswald';
          margin-left: 20px;
          padding: 2px 5px;
          background: #ffbb00; }
          #header .inner .util ul li a {
            color: #303030; }

/* tablet */
@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%; }
    #header .inner h1 {
      padding: 30px 0 10px;
      font-size: 40px;
      letter-spacing: 4px; }
    #header .inner p {
      font-size: 18px;
      letter-spacing: 3px;
      padding-bottom: 50px; }
    #header .inner #gnb {
      padding: 15px 80px 10px; }
      #header .inner #gnb ul li {
        font: 400 14px/ 1 'Oswald'; }
    #header .inner .util {
      position: absolute;
      top: 120px;
      right: 3vw; }
      #header .inner .util ul li {
        font-size: 14px;
        margin-left: 20px; } }
/* moblie */
@media screen and (max-width: 539px) {
  #header .inner h1 {
    padding: 30px 0 10px;
    font-size: 26px; }
  #header .inner p {
    font-size: 14px;
    letter-spacing: 2px;
    padding-bottom: 40px; }
  #header .inner #gnb {
    padding: 15px 10px 10px; }
  #header .inner .util {
    position: absolute;
    top: 95px;
    right: 3vw; } }
#header_sub {
  width: 100%; }
  #header_sub .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #header_sub .inner h1 {
      text-align: center;
      height: 120px;
      background: url(/public/img/logo2.png) no-repeat center/contain;
      font: 700 20px/1 'Oswald'; }
      #header_sub .inner h1 a {
        color: rgba(48, 48, 48, 0.2);
        line-height: 227px; }
    #header_sub .inner p {
      text-indent: -9999px;
      width: 100%;
      font: 600 20px/1 'Oswald';
      letter-spacing: 5px;
      text-align: center;
      border-bottom: 4px solid #000;
      position: relative; }
      #header_sub .inner p::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: -10px;
        left: 0; }
    #header_sub .inner #gnb {
      width: 100%;
      padding: 15px 80px 10px;
      border-bottom: 2px solid #000; }
      #header_sub .inner #gnb ul {
        display: flex;
        justify-content: space-around; }
        #header_sub .inner #gnb ul li {
          font: 400 14px/ 1 'Oswald'; }
          #header_sub .inner #gnb ul li a {
            color: #303030; }
    #header_sub .inner .util {
      position: absolute;
      top: 100px;
      right: 0; }
      #header_sub .inner .util ul {
        display: flex;
        justify-content: flex-end; }
        #header_sub .inner .util ul li {
          font: 400 14px/1 'Oswald';
          margin-left: 20px;
          padding: 2px 5px;
          background: #ffbb00; }
          #header_sub .inner .util ul li a {
            color: #303030; }

/* tablet */
@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%; }
    #header_sub .inner h1 {
      height: 100px;
      font: 700 20px/1 'Oswald'; }
      #header_sub .inner h1 a {
        line-height: 190px; }
    #header_sub .inner #gnb {
      padding: 15px 80px 10px; }
      #header_sub .inner #gnb ul li {
        font: 400 14px/ 1 'Oswald'; }
    #header_sub .inner .util {
      position: absolute;
      top: 90px;
      right: 3vw; }
      #header_sub .inner .util ul li {
        font-size: 14px;
        margin-left: 20px; } }
/* moblie */
@media screen and (max-width: 539px) {
  #header_sub .inner h1 {
    height: 80px;
    font: 700 20px/1 'Oswald'; }
    #header_sub .inner h1 a {
      line-height: 155px; }
  #header_sub .inner #gnb {
    padding: 15px 80px 10px; }
    #header_sub .inner #gnb ul li {
      font: 400 14px/ 1 'Oswald'; }
  #header_sub .inner .util {
    position: absolute;
    top: 70px;
    right: 3vw; }
    #header_sub .inner .util ul li {
      font-size: 14px;
      margin-left: 20px; } }
#footer {
  width: 100%; }
  #footer .inner {
    width: 1180px;
    position: relative;
    margin: 0 auto;
    border-top: 2px solid #000; }
    #footer .inner .wrap {
      display: flex;
      justify-content: space-between;
      align-content: center; }
      #footer .inner .wrap .newsletter {
        flex: 3;
        display: flex;
        flex-wrap: wrap;
        align-items: center; }
        #footer .inner .wrap .newsletter .txt_wrap {
          width: 100%; }
          #footer .inner .wrap .newsletter .txt_wrap span {
            width: 100%;
            font: 400 40px/1 'Oswald'; }
          #footer .inner .wrap .newsletter .txt_wrap > p {
            width: 100%;
            font: 400 12px/1.2 'Oswald';
            letter-spacing: 1px; }
        #footer .inner .wrap .newsletter .input_wrap {
          width: 100%; }
          #footer .inner .wrap .newsletter .input_wrap #newsletterInput {
            width: 60%;
            height: 30px;
            background: transparent;
            border: none;
            border-bottom: 1px solid #555;
            margin-right: 10px;
            padding: 5px 5px; }
          #footer .inner .wrap .newsletter .input_wrap #newsletterSubmit {
            width: 20%;
            height: 30px;
            background: transparent;
            font: 400 16px/1 'Oswald';
            cursor: pointer; }
      #footer .inner .wrap .sitemap {
        flex: 1;
        border-left: 1px solid #000; }
        #footer .inner .wrap .sitemap li {
          font: 400 14px/1 'Oswald';
          letter-spacing: 1px;
          margin-bottom: 10px;
          padding-left: 20px; }
          #footer .inner .wrap .sitemap li:first-child {
            margin-top: 10px; }
          #footer .inner .wrap .sitemap li:last-child {
            margin-top: 40px; }
      #footer .inner .wrap .terms {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end; }
        #footer .inner .wrap .terms li {
          font: 400 14px/1 'Oswald';
          margin-bottom: 10px; }
          #footer .inner .wrap .terms li:first-child {
            margin-right: 10px; }
          #footer .inner .wrap .terms li:last-child {
            padding-left: 10px;
            border-left: 1px solid #000; }
      #footer .inner .wrap .sns {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end; }
        #footer .inner .wrap .sns li {
          font: 400 14px/1 'Oswald';
          margin-bottom: 10px;
          padding: 0 10px; }
    #footer .inner > p {
      font: 600 14px/1 'Oswald';
      border-top: 2px solid #000;
      padding: 5px 0px;
      text-align: right; }

/* tablet */
@media screen and (max-width: 1179px) {
  #footer .inner {
    width: 100%; }
    #footer .inner .wrap {
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-wrap: wrap; }
      #footer .inner .wrap .newsletter {
        flex: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-bottom: 20px; }
        #footer .inner .wrap .newsletter .txt_wrap {
          width: 50%;
          padding: 10px 30px; }
          #footer .inner .wrap .newsletter .txt_wrap span {
            width: 100%;
            font-size: 38px; }
          #footer .inner .wrap .newsletter .txt_wrap > p {
            width: 100%;
            font-size: 12px; }
        #footer .inner .wrap .newsletter .input_wrap {
          width: 50%;
          padding: 10px 30px; }
          #footer .inner .wrap .newsletter .input_wrap #newsletterInput {
            width: 70%; }
      #footer .inner .wrap .sitemap {
        flex: auto;
        width: 100%;
        border-left: none;
        display: flex;
        justify-content: flex-start;
        padding: 0 30px;
        margin-bottom: 20px; }
        #footer .inner .wrap .sitemap > li {
          font-size: 14px;
          margin-bottom: 0px;
          padding: 0px;
          padding-right: 20px; }
          #footer .inner .wrap .sitemap > li:first-child {
            margin-top: 0px; }
          #footer .inner .wrap .sitemap > li:last-child {
            margin-top: 0px;
            font-size: 13px;
            padding-right: 0px;
            letter-spacing: 0.2px; }
      #footer .inner .wrap .terms {
        flex: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 0 30px; }
        #footer .inner .wrap .terms li {
          font-size: 14px; }
      #footer .inner .wrap .sns {
        flex: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 30px; }
        #footer .inner .wrap .sns li {
          font-size: 14px; }
    #footer .inner > p {
      font-size: 14px; } }
/* mobile */
@media screen and (max-width: 539px) {
  #footer .inner .wrap .newsletter {
    width: 100%;
    display: block;
    margin-bottom: 20px; }
    #footer .inner .wrap .newsletter .txt_wrap {
      width: 100%;
      padding: 10px 10px; }
      #footer .inner .wrap .newsletter .txt_wrap span {
        width: 100%;
        font-size: 30px; }
      #footer .inner .wrap .newsletter .txt_wrap > p {
        width: 100%;
        font-size: 12px; }
    #footer .inner .wrap .newsletter .input_wrap {
      width: 100%;
      padding: 10px 10px; }
  #footer .inner .wrap .sitemap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-bottom: 20px; }
    #footer .inner .wrap .sitemap > li {
      margin-bottom: 10px;
      padding-right: 15px; }
      #footer .inner .wrap .sitemap > li:last-child {
        width: 100%;
        font-size: 13px;
        text-align: right; }
  #footer .inner .wrap .terms {
    padding: 0px 10px; }
  #footer .inner .wrap .sns {
    flex: auto;
    padding: 0px 10px; } }
.content {
  width: 100%; }
  .content .inner {
    width: 1180px;
    position: relative;
    margin: 0 auto;
    min-height: 800px; }
    .content .inner h1 {
      padding: 40px 0;
      text-align: center;
      font: 700 160px/1 'Oswald';
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 40px; }

/* tablet */
@media screen and (max-width: 1179px) {
  .content .inner {
    width: 100%; }
    .content .inner h1 {
      padding: 30px 0;
      font-size: 14vw !important; } }
/* mobile*/
@media screen and (max-width: 539px) {
  .content .inner h1 {
    padding: 20px 0;
    font-size: 14vw;
    margin-bottom: 20px; } }
.visual {
  padding: 40px 0px; }
  .visual .inner img {
    width: 100%;
    object-fit: cover; }

/* title, btnMenu, story-txt,vid  */
.about > .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
  /* ul - btnMenu */
  /* story - txt, vid */ }
  .about > .inner h1 {
    font: 600 38px/1 'Oswald';
    padding: 20px 0;
    color: #303030; }
  .about > .inner .btnMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 3px solid #000; }
    .about > .inner .btnMenu li {
      width: 31.33%;
      margin-right: 2%;
      cursor: pointer; }
      .about > .inner .btnMenu li:nth-of-type(3) {
        margin-right: 2%; }
      .about > .inner .btnMenu li p {
        font: 400 28px/1 'Oswald';
        padding: 20px 0px;
        border-bottom: 1px solid #303030;
        color: #303030; }
      .about > .inner .btnMenu li span {
        display: block;
        font: 400 16px/1 'Oswald';
        padding: 10px 0px 0px; }
      .about > .inner .btnMenu li.on p {
        color: #ECECEC;
        border-bottom: 1px solid #ECECEC; }
      .about > .inner .btnMenu li.on span, .about > .inner .btnMenu li.on strong {
        color: #ECECEC; }
      .about > .inner .btnMenu li:nth-of-type(1) h2 {
        background-image: url(/public/img/mask1.png);
        background-repeat: no-repeat;
        background-position: -9999px -9999px; }
      .about > .inner .btnMenu li:nth-of-type(2) h2 {
        background-image: url(/public/img/mask2.png);
        background-repeat: no-repeat;
        background-position: -9999px -9999px; }
      .about > .inner .btnMenu li:nth-of-type(3) h2 {
        background-image: url(/public/img/mask3.png);
        background-repeat: no-repeat;
        background-position: -9999px -9999px; }
      .about > .inner .btnMenu li:nth-of-type(4) h2 {
        background-image: url(/public/img/mask4.png);
        background-repeat: no-repeat;
        background-position: -9999px -9999px; }
  .about > .inner .story {
    width: 100%;
    padding: 40px 0px 0px;
    display: flex;
    justify-content: space-between; }
    .about > .inner .story .txt {
      width: 30%; }
      .about > .inner .story .txt h2 {
        font: 700 80px/1 'Oswald';
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative; }
        .about > .inner .story .txt h2::after {
          content: "";
          display: block;
          width: 100%;
          height: 8px;
          background: #303030;
          position: absolute;
          bottom: 0px;
          left: 0px; }
      .about > .inner .story .txt p {
        font: 400 16px/1.2 'Oswald';
        color: #C1554E;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative; }
        .about > .inner .story .txt p::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: #555;
          position: absolute;
          bottom: 0px;
          left: 0px; }
      .about > .inner .story .txt span {
        display: block;
        font: 400 16px/1.2 'Oswald';
        color: #303030;
        margin-bottom: 20px; }
    .about > .inner .story figure {
      width: 70%;
      margin: 0px 0px 20px 40px;
      background: rgba(0, 0, 0, 0.2);
      position: relative; }
      .about > .inner .story figure aside {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        font: 28px/1 "IM Fell English SC";
        color: #fff;
        letter-spacing: 2px;
        display: none; }
      .about > .inner .story figure .wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px; }
        .about > .inner .story figure .wrap .vid {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 1; }
          .about > .inner .story figure .wrap .vid video {
            width: 100%;
            height: 100%;
            object-fit: cover; }
          .about > .inner .story figure .wrap .vid .slogan {
            width: 440px;
            height: 200px;
            position: absolute;
            right: 8%;
            top: 50%;
            transform: translateY(-60%);
            text-align: right;
            padding: 20px;
            perspective: 900px; }
            .about > .inner .story figure .wrap .vid .slogan::before {
              content: "";
              display: block;
              width: 350px;
              height: 150px;
              border: 1px solid #fff;
              position: absolute;
              top: 0px;
              right: 0px;
              opacity: 0;
              transition: all 1.5s; }
            .about > .inner .story figure .wrap .vid .slogan h3 {
              display: inline-block;
              overflow: hidden;
              position: relative;
              margin-bottom: 20px; }
              .about > .inner .story figure .wrap .vid .slogan h3 > .inner {
                font: 400 100px/1 "Oswald";
                color: #fff;
                position: relative;
                transform: scaleY(1.25);
                opacity: 0;
                transition: opacity 0.2s 0.5s;
                text-transform: uppercase; }
              .about > .inner .story figure .wrap .vid .slogan h3::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: #fff;
                position: absolute;
                top: 0px;
                right: -100%;
                transition: right ease-in-out 1s; }
            .about > .inner .story figure .wrap .vid .slogan .p1 {
              display: inline-block;
              overflow: hidden;
              position: relative;
              margin-right: 14px;
              transform: rotateY(40deg); }
              .about > .inner .story figure .wrap .vid .slogan .p1 > .inner {
                font: 20px/1 "Oswald";
                color: #fff;
                position: relative;
                opacity: 0;
                transition: opacity 0.2s 0.8s; }
              .about > .inner .story figure .wrap .vid .slogan .p1::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: #fff;
                position: absolute;
                top: 0px;
                right: -100%;
                transition: right ease-in-out 1s 0.3s; }
          .about > .inner .story figure .wrap .vid.lower {
            z-index: 2; }
          .about > .inner .story figure .wrap .vid.on {
            z-index: 3; }
            .about > .inner .story figure .wrap .vid.on .slogan::before {
              opacity: 1;
              transform: rotateY(220deg); }
            .about > .inner .story figure .wrap .vid.on .slogan h3 .inner, .about > .inner .story figure .wrap .vid.on .slogan .p1 .inner {
              opacity: 1; }
            .about > .inner .story figure .wrap .vid.on .slogan h3::after, .about > .inner .story figure .wrap .vid.on .slogan .p1::after {
              right: 100%; }
          .about > .inner .story figure .wrap .vid:nth-of-type(1).mask {
            -webkit-mask: url(/public/img/mask1.png);
            -webkit-mask-size: 2300% 100%;
            animation: mask-play 1.4s steps(22) forwards; }
          .about > .inner .story figure .wrap .vid:nth-of-type(2).mask {
            -webkit-mask: url(/public/img/mask2.png);
            -webkit-mask-size: 3000% 100%;
            animation: mask-play 1.4s steps(29) forwards; }
          .about > .inner .story figure .wrap .vid:nth-of-type(3).mask {
            -webkit-mask: url(/public/img/mask3.png);
            -webkit-mask-size: 7100% 100%;
            animation: mask-play 1.4s steps(70) forwards; }

/* team */
.team .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto; }
  .team .inner h1 {
    font: 700 80px/1 'Oswald';
    padding: 20px 0px;
    margin: 20px 0px 0px;
    border-top: 3px solid #303030; }
  .team .inner .wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .team .inner .wrap article {
      width: 30%;
      padding: 20px 20px;
      margin-bottom: 40px; }
      .team .inner .wrap article .member .poster {
        width: 100%;
        height: 400px;
        background: rgba(0, 0, 0, 0.1);
        margin-bottom: 20px; }
        .team .inner .wrap article .member .poster img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .team .inner .wrap article .member .info .pic {
        width: 100%;
        height: 200px; }
        .team .inner .wrap article .member .info .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .team .inner .wrap article .member .info .profile h2 {
        font: 400 38px/1 'Oswald';
        margin-bottom: 10px; }
      .team .inner .wrap article .member .info .profile p {
        font: 400 14px/1 'Oswald';
        margin-bottom: 10px; }
      .team .inner .wrap article .member .info .profile span {
        display: block;
        font: 400 16px/1 'Oswald';
        margin-bottom: 10px; }
      .team .inner .wrap article .member .info .profile ul {
        width: 100%;
        display: flex;
        justify-content: flex-start; }
        .team .inner .wrap article .member .info .profile ul li {
          font-size: 14px;
          cursor: pointer;
          margin-right: 20px; }

.board {
  margin-bottom: 20px; }
  .board .inner {
    min-height: 0px; }

/*magazine - img, content, connect */
.magazine .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto; }
  .magazine .inner h1 {
    font: 600 36px/1 'Oswald';
    padding: 10px 0px;
    border-bottom: 4px solid #303030;
    margin-bottom: 30px; }
  .magazine .inner .wrap {
    width: 100%;
    height: 360px;
    margin-bottom: 30px; }
    .magazine .inner .wrap .pic {
      float: left;
      width: 20%;
      padding: 10px; }
      .magazine .inner .wrap .pic img {
        width: 100%;
        object-fit: cover; }
    .magazine .inner .wrap .txt {
      float: left;
      width: 50%;
      padding: 10px; }
      .magazine .inner .wrap .txt h2 {
        font: 700 36px/1 'Oswald';
        letter-spacing: 1px;
        margin-bottom: 20px; }
      .magazine .inner .wrap .txt p {
        font: 400 16px/1.2 'Oswald';
        padding-bottom: 77px;
        overflow: hidden; }
      .magazine .inner .wrap .txt span {
        font: 600 18px/1 'Oswald';
        color: #555; }
    .magazine .inner .wrap .stayConnect {
      float: left;
      width: 30%;
      height: 100%;
      padding: 10px;
      border-left: 3px solid #303030; }
      .magazine .inner .wrap .stayConnect h3 {
        font: 700 30px/1 'Oswald';
        letter-spacing: 1px;
        margin-bottom: 20px; }
      .magazine .inner .wrap .stayConnect ul {
        width: 100%; }
        .magazine .inner .wrap .stayConnect ul::after {
          content: "";
          display: block;
          clear: both; }
        .magazine .inner .wrap .stayConnect ul li {
          float: left;
          width: 100%;
          font: 400 18px/1 "Oswald";
          padding: 10px 0px 30px;
          border-top: 1px solid #999;
          cursor: pointer; }
          .magazine .inner .wrap .stayConnect ul li span {
            display: inline-block;
            width: 80%; }
          .magazine .inner .wrap .stayConnect ul li strong {
            display: inline-block;
            width: 20%;
            font-size: 18px;
            text-align: right; }
          .magazine .inner .wrap .stayConnect ul li:hover {
            color: #FFEDCB; }

/*latest news -article */
.latestNews .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto; }
  .latestNews .inner h1 {
    font: 600 36px/1 'Oswald';
    padding: 10px 0px;
    border-bottom: 4px solid #000;
    margin-bottom: 30px; }
  .latestNews .inner .wrap {
    width: 100%;
    margin-bottom: 30px; }
    .latestNews .inner .wrap article {
      width: 280px;
      margin-right: 20px;
      float: left;
      transition: 0.5s; }
      .latestNews .inner .wrap article:nth-of-type(4) {
        margin-right: 0px; }
      .latestNews .inner .wrap article .content {
        width: 100%;
        padding-bottom: 30px;
        position: relative; }
        .latestNews .inner .wrap article .content strong {
          font: 600 12px/1 'Oswald'; }
          .latestNews .inner .wrap article .content strong::after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #555;
            position: absolute;
            top: 10px;
            right: 0px; }
        .latestNews .inner .wrap article .content h2 {
          font: 600 28px/1 'Oswald';
          margin-bottom: 10px; }
        .latestNews .inner .wrap article .content p {
          font: 400 16px/1.2 'Oswald';
          color: #555;
          margin-bottom: 10px; }
        .latestNews .inner .wrap article .content span {
          font: 400 16px/1 'IM Fell English SC';
          color: #555;
          position: absolute;
          bottom: 10px;
          right: 10px;
          padding: 5px 5px 3px;
          cursor: pointer;
          transition: 0.3s; }
          .latestNews .inner .wrap article .content span:hover {
            background: #FFEDCB; }
      .latestNews .inner .wrap article .pic {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        overflow: hidden; }
        .latestNews .inner .wrap article .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1.2) rotate(30deg);
          transition: 0.5s; }
      .latestNews .inner .wrap article:hover .content strong::after {
        background: #FFEDCB; }
      .latestNews .inner .wrap article:hover .content h2 {
        color: #FFEDCB; }
      .latestNews .inner .wrap article:hover .content p, .latestNews .inner .wrap article:hover .content span {
        color: #303030; }
      .latestNews .inner .wrap article:hover .content span {
        background: #FFEDCB; }
      .latestNews .inner .wrap article:hover .pic img {
        transform: scale(1) rotate(0deg); }

/*notice - table, pagination */
.notice .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  /*table*/
  /*pagination*/ }
  .notice .inner h1 {
    font: 600 36px/1 'Oswald';
    padding: 10px 0px;
    border-bottom: 4px solid #000;
    margin-bottom: 30px; }
  .notice .inner table {
    width: 100%;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    margin-bottom: 50px; }
    .notice .inner table tr th {
      font: 600 20px/1 'Oswald';
      padding: 15px;
      background: rgba(255, 237, 203, 0.5);
      color: #303030; }
      .notice .inner table tr th:nth-of-type(1) {
        width: 5%; }
      .notice .inner table tr th:nth-of-type(3) {
        width: 15%; }
      .notice .inner table tr th:nth-of-type(4) {
        width: 15%; }
      .notice .inner table tr th:nth-of-type(5) {
        width: 5%; }
    .notice .inner table tr td {
      font: 400 16px/1 'Oswald';
      padding: 13px;
      border-bottom: 1px solid #ddd;
      text-align: center;
      color: #333; }
      .notice .inner table tr td:nth-of-type(2) {
        text-align: left; }
        .notice .inner table tr td:nth-of-type(2) a {
          color: #333;
          letter-spacing: 1px;
          line-height: 1.4; }
    .notice .inner table tr:hover td {
      background: rgba(201, 195, 183, 0.801); }
  .notice .inner .paignation {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Oswald'; }
    .notice .inner .paignation::after {
      content: '';
      display: block;
      clear: both; }
    .notice .inner .paignation .prev {
      float: left;
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 20px; }
    .notice .inner .paignation .next {
      float: right;
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 20px; }
    .notice .inner .paignation .prev:hover, .notice .inner .paignation .next:hover {
      color: #FFEDCB;
      background: #303030;
      border-radius: 50%; }
    .notice .inner .paignation .numbers {
      display: inline-block;
      text-align: center;
      font-size: 0; }
      .notice .inner .paignation .numbers a {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0px 5px;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        transition: 0.3s; }
        .notice .inner .paignation .numbers a:hover {
          border-radius: 50%;
          color: #FFEDCB;
          background: #303030; }

/* tablet */
@media screen and (max-width: 1179px) {
  /*magazine - img, content, connect */
  .magazine .inner {
    width: 100%; }
    .magazine .inner h1 {
      font-size: 36px;
      padding: 10px 20px; }
    .magazine .inner .wrap {
      width: 100%;
      height: auto;
      margin-bottom: 30px; }
      .magazine .inner .wrap .pic {
        display: none; }
      .magazine .inner .wrap .txt {
        float: left;
        width: 50%;
        border-right: 3px solid #303030; }
        .magazine .inner .wrap .txt h2 {
          font-size: 36px; }
        .magazine .inner .wrap .txt p {
          font-size: 16px;
          padding-bottom: 0px;
          height: 292px;
          overflow: hidden;
          margin-bottom: 20px; }
        .magazine .inner .wrap .txt span {
          font-size: 18px; }
      .magazine .inner .wrap .stayConnect {
        float: right;
        width: 50%;
        border-left: none; }
        .magazine .inner .wrap .stayConnect h3 {
          font-size: 30px; }

  /*latest news -article */
  .latestNews .inner {
    width: 100%; }
    .latestNews .inner h1 {
      font-size: 36px;
      padding: 10px 20px; }
    .latestNews .inner .wrap article {
      width: 23%;
      margin-right: 2%;
      float: left;
      transition: 0.5s; }
      .latestNews .inner .wrap article:nth-of-type(1) {
        margin-left: 1%; }
      .latestNews .inner .wrap article:nth-of-type(4) {
        margin-right: 1%; }

  /*notice - table, pagination */
  .notice .inner {
    width: 100%;
    /*table*/
    /*pagination*/ }
    .notice .inner h1 {
      font-size: 36px;
      padding: 10px 20px; }
    .notice .inner table tr th:nth-of-type(1) {
      width: 10%; }
    .notice .inner table tr th:nth-of-type(3) {
      width: 20%; }
    .notice .inner table tr th:nth-of-type(4) {
      width: 0%;
      display: none; }
    .notice .inner table tr th:nth-of-type(5) {
      width: 0%;
      display: none; }
    .notice .inner table tr td:nth-of-type(4) {
      width: 0%;
      display: none; }
    .notice .inner table tr td:nth-of-type(5) {
      width: 0%;
      display: none; }
    .notice .inner .paignation .numbers a:nth-of-type(6) {
      display: none; }
    .notice .inner .paignation .numbers a:nth-of-type(7) {
      display: none; }
    .notice .inner .paignation .numbers a:nth-of-type(8) {
      display: none; }
    .notice .inner .paignation .numbers a:nth-of-type(9) {
      display: none; }
    .notice .inner .paignation .numbers a:nth-of-type(10) {
      display: none; } }
/* section - latest news box layout*/
@media screen and (max-width: 975px) {
  /*latest news -article */
  .latestNews .inner h1 {
    font-size: 36px;
    padding: 10px 20px; }
  .latestNews .inner .wrap article {
    width: 48%;
    margin-right: 2%; }
    .latestNews .inner .wrap article:nth-of-type(2n-1) {
      margin-left: 1%; }
    .latestNews .inner .wrap article:nth-of-type(2n) {
      margin-right: 1%; } }
/* mobile */
@media screen and (max-width: 539px) {
  /*magazine - img, content, connect */
  .magazine .inner h1 {
    font-size: 28px; }
  .magazine .inner .wrap .txt {
    float: none;
    width: 100%;
    border-right: none;
    margin-bottom: 30px; }
    .magazine .inner .wrap .txt h2 {
      font-size: 22px; }
    .magazine .inner .wrap .txt p {
      font-size: 14px;
      height: auto;
      margin-bottom: 20px; }
    .magazine .inner .wrap .txt span {
      font-size: 16px; }
  .magazine .inner .wrap .stayConnect {
    float: none;
    width: 100%; }
    .magazine .inner .wrap .stayConnect h3 {
      font-size: 22px; }
    .magazine .inner .wrap .stayConnect ul li {
      font-size: 16px; }

  /*latest news -article */
  .latestNews .inner h1 {
    font-size: 28px; }
  .latestNews .inner .wrap article {
    width: 94%;
    margin: 0% 3%; }
    .latestNews .inner .wrap article:nth-of-type(2n-1) {
      margin-left: 3%; }
    .latestNews .inner .wrap article:nth-of-type(2n) {
      margin-right: 3%; }
    .latestNews .inner .wrap article .content h2 {
      font-size: 22px; }

  /*notice - table, pagination */
  .notice .inner {
    /*table*/
    /*pagination*/ }
    .notice .inner h1 {
      font-size: 28px; }
    .notice .inner table tr th {
      font-size: 18px; }
      .notice .inner table tr th:nth-of-type(1) {
        width: 0%;
        display: none; }
      .notice .inner table tr th:nth-of-type(3) {
        width: 27%; }
    .notice .inner table tr td {
      font-size: 14px; }
      .notice .inner table tr td:nth-of-type(1) {
        width: 0%;
        display: none; }
    .notice .inner .paignation .numbers {
      display: none; } }
.gallery .inner {
  /* title */
  /* Search - input, button*/
  /* loading */
  /* flicker list - img, figcaption */ }
  .gallery .inner .title_wrap {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0; }
    .gallery .inner .title_wrap p {
      background: #C1554E;
      color: #e6e2dd;
      padding: 20px 0px;
      font: 600 18px/1 'Oswald';
      text-align: center;
      text-transform: uppercase; }
    .gallery .inner .title_wrap h1 {
      padding: 40px 0;
      text-align: center;
      font: 700 160px/1 'Oswald';
      letter-spacing: 2px;
      text-transform: uppercase;
      border: 2px solid #C1554E;
      color: #C1554E;
      cursor: pointer; }
  .gallery .inner .searchBox {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    opacity: 0;
    transform: translateY(200px);
    transition: 1s; }
    .gallery .inner .searchBox.on {
      opacity: 1;
      transform: translateY(0px); }
    .gallery .inner .searchBox input[type=text] {
      width: 500px;
      height: 30px;
      padding: 15px 10px;
      margin-right: 20px;
      border: none;
      border-bottom: 1px solid #555;
      background: transparent; }
    .gallery .inner .searchBox .btnSearch {
      border: 1px solid #555;
      width: 200px;
      height: 30px;
      font: bold 15px/30px 'Oswald';
      color: #555;
      background: transparent;
      cursor: pointer; }
  .gallery .inner .loading {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%); }
  .gallery .inner .list {
    opacity: 0;
    transform: translateY(200px);
    transition: 1s;
    position: relative; }
    .gallery .inner .list.on {
      opacity: 1;
      transform: translateY(0px); }
    .gallery .inner .list .wrap li {
      float: left;
      width: 25%;
      padding: 10px; }
      .gallery .inner .list .wrap li figure {
        width: 100%;
        padding: 10px 0px;
        border-top: 2px solid #000;
        position: relative; }
        .gallery .inner .list .wrap li figure .pic {
          overflow: hidden;
          margin-bottom: 10px; }
          .gallery .inner .list .wrap li figure .pic img {
            width: 100%;
            object-fit: cover;
            filter: grayscale(70%);
            transition: 0.5s; }
    .gallery .inner .list .wrap figcaption {
      width: 100%;
      border-bottom: 2px solid #000; }
      .gallery .inner .list .wrap figcaption p {
        font: 400 18px/1 'Oswald';
        margin-bottom: 10px; }
      .gallery .inner .list .wrap figcaption span {
        display: block;
        font: 400 14px/1 'Oswald';
        margin-bottom: 10px;
        text-align: right; }
        .gallery .inner .list .wrap figcaption span:before {
          content: 'by '; }
      .gallery .inner .list .wrap figcaption .btnMore {
        text-align: center;
        font: 600 16px/1 'Oswald';
        padding: 5px 10px;
        border: 1px solid #000;
        margin-bottom: 10px;
        color: #303030;
        cursor: pointer;
        transition: 0.5s; }
        .gallery .inner .list .wrap figcaption .btnMore:hover {
          background: #303030;
          color: #e6e2dd; }
.gallery .pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw; }
  .gallery .pop img {
    width: 100%;
    height: 95%;
    object-fit: contain; }
  .gallery .pop p {
    font: 14px/1.2 "arial";
    color: #fff;
    text-align: center; }
  .gallery .pop span {
    font-size: 26px;
    color: #fff;
    position: absolute;
    top: 3vw;
    right: 5vw;
    cursor: pointer; }

/*tablet*/
@media screen and (max-width: 1179px) {
  .gallery .inner .title_wrap {
    width: 90%;
    padding: 30px 0; }
  .gallery .inner .searchBox input[type=text] {
    width: 80%; }
  .gallery .inner .searchBox .btnSearch {
    width: 20%; }
  .gallery .item {
    width: 33.333% !important; } }
@media screen and (max-width: 739px) {
  .gallery .item {
    width: 50% !important; } }
@media screen and (max-width: 539px) {
  .gallery .inner .title_wrap {
    width: 95%;
    padding: 20px 0; }
    .gallery .inner .title_wrap p {
      padding: 10px 0px;
      font-size: 16px; }
    .gallery .inner .title_wrap h1 {
      padding: 30px 0;
      letter-spacing: 2px; }
  .gallery .inner .searchBox {
    margin-bottom: 20px;
    flex-wrap: wrap; }
    .gallery .inner .searchBox input[type=text] {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 10px; }
    .gallery .inner .searchBox .btnSearch {
      width: 100%; } }
@media screen and (max-width: 479px) {
  .gallery .item {
    width: 100% !important; } }
.youtube .inner {
  /* youtube vid list*/
  /* popup */ }
  .youtube .inner .list {
    width: 100%; }
    .youtube .inner .list article {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px; }
      .youtube .inner .list article:nth-of-type(2n) {
        flex-direction: row-reverse; }
      .youtube .inner .list article .pic {
        width: 35%;
        height: 250px;
        background: url(/src/img/Film2.jpg) no-repeat center/cover;
        cursor: pointer; }
        .youtube .inner .list article .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          padding: 35px 0px;
          opacity: 0.6;
          transition: 0.5s; }
      .youtube .inner .list article .txt {
        width: 61%;
        height: 250px;
        position: relative;
        border-top: 4px solid #2F4858;
        border-bottom: 4px solid #2F4858;
        opacity: 0.8; }
        .youtube .inner .list article .txt h2 {
          font: 600 36px/1 'Oswald';
          padding: 40px 20px 20px;
          color: #005B4B; }
        .youtube .inner .list article .txt p {
          font: 400 16px/1 'Oswald';
          padding: 0 20px 60px;
          min-height: 108px;
          overflow: hidden; }
        .youtube .inner .list article .txt span {
          display: block;
          font: 400 14px/1 'Oswald';
          padding: 0 20px;
          text-align: right; }
        .youtube .inner .list article .txt .btnWatch {
          position: absolute;
          bottom: 15px;
          left: 10px;
          padding: 5px 10px;
          cursor: pointer;
          transition: 0.5s;
          border: 1px solid #000; }
          .youtube .inner .list article .txt .btnWatch:hover {
            border: 1px solid #2F4858;
            background: #2F4858;
            color: #e6e2dd; }
      .youtube .inner .list article:hover .pic img {
        opacity: 1; }
      .youtube .inner .list article:hover .txt {
        opacity: 1; }
  .youtube .inner .pop {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.9);
    padding: 5vw; }
    .youtube .inner .pop iframe {
      border: none;
      width: 100%;
      height: 100%; }
    .youtube .inner .pop span {
      position: absolute;
      top: 3vw;
      right: 5vw;
      font: bold 14px/1 'arial';
      color: #fff;
      cursor: pointer; }

/* tablet*/
@media screen and (max-width: 1179px) {
  .youtube .inner {
    /* youtube vid list*/ }
    .youtube .inner .list article {
      width: 100%;
      padding: 0 20px;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 60px; }
      .youtube .inner .list article:nth-of-type(2n) {
        flex-direction: column;
        align-items: flex-end; }
      .youtube .inner .list article .pic {
        width: 35%;
        min-width: 320px;
        height: 240px;
        margin-bottom: 20px; }
      .youtube .inner .list article .txt {
        width: 70%;
        min-width: 480px;
        height: 220px; }
        .youtube .inner .list article .txt h2 {
          font-size: 30px;
          padding: 30px 20px 20px; }
        .youtube .inner .list article .txt p {
          font: 400 16px/1 'Oswald';
          padding: 0 20px 0px;
          margin-bottom: 16px;
          min-height: 87px;
          overflow: hidden; }
        .youtube .inner .list article .txt .btnWatch {
          bottom: 15px;
          left: 20px; } }
/* mobile */
@media screen and (max-width: 539px) {
  .youtube .inner {
    /* youtube vid list*/ }
    .youtube .inner .list article {
      width: 100%;
      padding: 0px 0px;
      margin-bottom: 40px; }
      .youtube .inner .list article .pic {
        width: 100%;
        min-width: auto;
        height: 210px;
        margin-bottom: 20px; }
      .youtube .inner .list article .txt {
        width: 100%;
        min-width: auto;
        height: 240px; }
        .youtube .inner .list article .txt h2 {
          font-size: 22px;
          padding: 20px 10px 20px; }
        .youtube .inner .list article .txt p {
          font-size: 14px;
          padding: 0px 10px;
          margin-bottom: 55px;
          min-height: 87px;
          overflow: hidden; }
        .youtube .inner .list article .txt .btnWatch {
          bottom: 15px;
          left: 10px; } }
/*title - web만 적용*/
.contact {
  width: 100%; }
  .contact .inner {
    width: 1180px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
    border-bottom: 3px solid #000; }
    .contact .inner::after {
      content: "";
      display: block;
      clear: both; }
    .contact .inner .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -58%);
      width: 70%;
      margin: 20px 0;
      height: 242px;
      border-right: 2px solid #000;
      border-left: 2px solid #000; }
      .contact .inner .title h1 {
        font: 700 140px/1 'Oswald';
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        padding: 40px 0 20px; }
      .contact .inner .title > p {
        font: 400 20px/1 'IM Fell English SC';
        color: #555;
        text-align: center;
        padding: 10px 0; }
    .contact .inner .memo {
      float: left;
      width: 15%;
      margin: 20px 0;
      height: 242px;
      padding: 0px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      .contact .inner .memo > span {
        font: 400 20px/1 'Oswald';
        color: #555;
        margin-bottom: 10px; }
      .contact .inner .memo > p {
        font: 400 14px/1.2 'Oswald';
        color: #777; }
    .contact .inner .numbering {
      float: right;
      width: 15%;
      margin: 20px 0;
      height: 242px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contact .inner .numbering > p {
        font: 400 14px/1.2 'Oswald';
        color: #555;
        margin-bottom: 20px;
        position: relative; }
        .contact .inner .numbering > p::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: #303030;
          position: absolute;
          bottom: -10px;
          left: 0; }
      .contact .inner .numbering > strong {
        font: 700 32px/1 'Oswald';
        color: #C1554E; }

/* loaction - article, map, button */
.location .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
  /*article - info headquater, brnach */
  /* kakao-map */
  /* button */ }
  .location .inner h1 {
    font: 600 22px/1 'Oswald';
    margin-bottom: 10px; }
  .location .inner .wrap {
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-bottom: 3px solid #000; }
    .location .inner .wrap article {
      float: left;
      width: 380px;
      margin-right: 20px; }
      .location .inner .wrap article:nth-of-type(3) {
        margin-right: 0; }
      .location .inner .wrap article span {
        display: block;
        font: 400 14px/1 'Oswald';
        text-align: center;
        padding: 10px 0px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000; }
      .location .inner .wrap article p {
        font: 600 24px/1 'Oswald';
        text-align: center;
        padding: 15px 0px; }
      .location .inner .wrap article > ul {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        .location .inner .wrap article > ul li {
          font: 400 16px/1.2 'Oswald';
          padding: 2px 0; }
  .location .inner .wrap_map {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 3px solid #000; }
    .location .inner .wrap_map #map {
      width: 100%;
      height: 500px;
      border: 1px solid #000; }
  .location .inner .btn_branch {
    display: none;
    position: absolute;
    top: 330px;
    left: 0px; }
    .location .inner .btn_branch li {
      width: 300px;
      padding: 20px 50px;
      text-align: center;
      border: 1px solid #000; }
      .location .inner .btn_branch li button {
        font: 600 18px/1 'Oswald';
        border: none; }

/* recruit, support ,get in touch */
.message .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative; }
  .message .inner .wrap {
    width: 100%;
    margin-bottom: 20px; }
    .message .inner .wrap::after {
      content: '';
      display: block;
      clear: both; }
    .message .inner .wrap article {
      /* recruit - float:right*/
      /* support - float:right*/
      /* get in touch - float:right*/ }
      .message .inner .wrap article h1 {
        font: 600 14px/1 'Oswald';
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
        float: left;
        width: 100%; }
      .message .inner .wrap article .pic {
        width: 380px;
        height: 210px;
        float: left; }
        .message .inner .wrap article .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .message .inner .wrap article .txt {
        width: 380px;
        height: 210px;
        float: left; }
      .message .inner .wrap article:nth-of-type(1) {
        width: 390px;
        height: 620px;
        margin-top: 20px;
        padding: 0px 0px 40px 10px;
        float: right;
        border-left: 1px solid #000; }
        .message .inner .wrap article:nth-of-type(1) .txt h2 {
          width: 100%;
          font: 700 36px/1.2 'Oswald';
          margin-bottom: 10px; }
        .message .inner .wrap article:nth-of-type(1) .txt ul {
          width: 100%;
          margin: 0px 20px; }
          .message .inner .wrap article:nth-of-type(1) .txt ul li {
            font: 400 16px/1.2 'Oswald';
            list-style-type: square;
            list-style-position: outside;
            padding: 5px 20px 5px 0px; }
      .message .inner .wrap article:nth-of-type(2) {
        width: 790px;
        height: 360px;
        margin-top: 20px;
        padding: 0px 10px 40px 0px;
        float: right;
        position: relative; }
        .message .inner .wrap article:nth-of-type(2) .pic {
          margin-right: 10px; }
          .message .inner .wrap article:nth-of-type(2) .pic h2 {
            width: 100%;
            font: 700 36px/1.2 'Oswald';
            margin-bottom: 10px; }
        .message .inner .wrap article:nth-of-type(2) > .txt {
          font: 400 16px/1.2 'Oswald'; }
          .message .inner .wrap article:nth-of-type(2) > .txt p {
            margin-bottom: 30px; }
      .message .inner .wrap article:nth-of-type(3) {
        width: 790px;
        height: 260px;
        padding: 20px 10px 20px 0px;
        float: right; }
        .message .inner .wrap article:nth-of-type(3) .pic {
          margin-right: 10px; }
        .message .inner .wrap article:nth-of-type(3) .txt h2 {
          width: 100%;
          font: 700 36px/1.2 'Oswald';
          margin-bottom: 30px; }
        .message .inner .wrap article:nth-of-type(3) #familySite {
          width: 100%;
          height: 30px;
          border: 2px solid #c9c3b7;
          background: transparent; }

/* tablet */
@media screen and (max-width: 1179px) {
  /*title - web만 적용*/
  .contact .inner {
    width: 100%;
    margin-bottom: 40px;
    border-bottom: none; }
    .contact .inner .title {
      position: static;
      transform: translate(0%, 0%);
      width: 100%;
      border: none;
      margin: 20px 0;
      height: auto; }
      .contact .inner .title h1 {
        font-size: 12vw;
        padding: 20px 0px; }
      .contact .inner .title > p {
        display: none; }
    .contact .inner .memo {
      display: none; }
    .contact .inner .numbering {
      display: none; }

  /* loaction - article, map, button */
  .location .inner {
    width: 100%;
    padding: 0 20px;
    /*article - info headquater, brnach */
    /* kakao-map */
    /* button */ }
    .location .inner .wrap {
      padding-bottom: 20px; }
      .location .inner .wrap article {
        float: left;
        width: 30%;
        margin-right: 3%; }
        .location .inner .wrap article:nth-of-type(3) {
          margin-right: 0; }
        .location .inner .wrap article > ul {
          padding: 0px 0px; }
          .location .inner .wrap article > ul li {
            font-size: 16px;
            padding: 5px 0;
            word-break: break-all; }
    .location .inner .wrap_map #map {
      width: 100%;
      height: 500px;
      border: 1px solid #000; }
    .location .inner .btn_branch {
      display: none; }

  /* recruit, support ,get in touch */
  .message .inner {
    width: 100%;
    padding: 0 20px; }
    .message .inner .wrap {
      width: 100%;
      margin-bottom: 20px; }
      .message .inner .wrap article {
        width: 100%;
        margin-top: 20px;
        /* recruit - float:right*/
        /* support - float:right*/
        /* get in touch - float:right*/ }
        .message .inner .wrap article .pic {
          width: 50%;
          height: auto;
          float: left; }
        .message .inner .wrap article .txt {
          width: 50%;
          height: auto;
          float: right;
          padding: 0 10px; }
        .message .inner .wrap article:nth-of-type(1) {
          width: 100%;
          float: right;
          height: auto;
          padding: 0px;
          border-left: none; }
          .message .inner .wrap article:nth-of-type(1) .txt h2 {
            font-size: 28px; }
        .message .inner .wrap article:nth-of-type(2) {
          width: 100%;
          float: right;
          height: auto;
          padding: 0px; }
          .message .inner .wrap article:nth-of-type(2) .pic {
            margin-right: 0px; }
            .message .inner .wrap article:nth-of-type(2) .pic h2 {
              font-size: 28px; }
          .message .inner .wrap article:nth-of-type(2) .txt {
            font-size: 16px; }
        .message .inner .wrap article:nth-of-type(3) {
          width: 100%;
          float: right;
          height: auto;
          padding: 0px; }
          .message .inner .wrap article:nth-of-type(3) .pic {
            margin-right: 0px; }
          .message .inner .wrap article:nth-of-type(3) .txt h2 {
            font-size: 28px; } }
/* mobile */
@media screen and (max-width: 539px) {
  /*title - web만 적용*/
  .contact .inner {
    margin-bottom: 20px; }

  /* loaction - article, map, button */
  .location .inner {
    /*article - info headquater, brnach */
    /* kakao-map */
    /* button */ }
    .location .inner .wrap article {
      width: 100%;
      margin-right: 0%; }
      .location .inner .wrap article > ul {
        margin-bottom: 20px; }
    .location .inner .wrap_map #map {
      width: 100%;
      height: 500px;
      border: 1px solid #000; }
    .location .inner .btn_branch {
      display: none; }

  /* recruit, support ,get in touch */
  .message .inner .wrap article {
    /* support - float:right*/ }
    .message .inner .wrap article .pic {
      width: 100%; }
    .message .inner .wrap article .txt {
      width: 100%;
      float: left;
      padding: 0px; }
    .message .inner .wrap article:nth-of-type(2) .pic {
      margin-bottom: 10px; } }
.Signin .inner {
  min-height: 0px; }
  .Signin .inner .access {
    width: 600px;
    margin: 0 auto;
    padding: 30px 20px; }
    .Signin .inner .access h1 {
      padding: 80px 0 10px;
      text-align: center;
      font: 50px/1 'IM Fell English SC';
      letter-spacing: 2px;
      margin-bottom: 0px; }
    .Signin .inner .access > p {
      font: 20px/1.1 'IM Fell English SC';
      margin-bottom: 40px; }
    .Signin .inner .access .wrap {
      width: 100%; }
      .Signin .inner .access .wrap label[for=userid], .Signin .inner .access .wrap label[for=pw] {
        display: inline-block;
        font: 18px/1 'IM Fell English SC';
        margin-bottom: 10px; }
      .Signin .inner .access .wrap input[type=text] {
        width: 100%;
        height: 40px;
        background: rgba(185, 188, 186, 0.5);
        border: 2px solid #848785;
        padding: 5px 10px;
        margin-bottom: 20px; }
      .Signin .inner .access .wrap input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin-right: 10px; }
      .Signin .inner .access .wrap label[for=loggedin] {
        display: inline-block;
        font: 16px/1 'IM Fell English SC';
        margin-bottom: 20px;
        position: relative;
        top: -7px;
        left: 0px; }
        .Signin .inner .access .wrap label[for=loggedin] span {
          font: 16px/1 'IM Fell English SC';
          color: #C1554E; }
      .Signin .inner .access .wrap > button {
        font: 16px/1 'IM Fell English SC';
        display: block;
        margin: 0 auto;
        width: 300px;
        height: 40px;
        background: rgba(185, 188, 186, 0.3);
        border: 1px solid #b9bcba;
        margin-bottom: 20px;
        position: relative;
        outline: none;
        cursor: pointer;
        box-shadow: 0 6px #9BA4A1; }
        .Signin .inner .access .wrap > button:hover {
          box-shadow: 0 4px #9BA4A1;
          top: 2px; }
    .Signin .inner .access .joinyet {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 60px; }
      .Signin .inner .access .joinyet > p {
        font: 22px/1 'IM Fell English SC';
        padding: 5px 10px; }
      .Signin .inner .access .joinyet > button {
        font: 22px/1 'IM Fell English SC';
        padding: 5px 10px;
        position: relative;
        top: -3px;
        left: 0px;
        border: none;
        background: transparent;
        color: #C1554E;
        cursor: pointer; }

.join .inner h1 {
  font: 50px/1 'IM Fell English SC'; }
.join .inner .wrap {
  margin: 0 auto;
  width: 800px;
  min-height: 500px;
  border: 1px solid #000; }

html {
  background-color: #e6e2dd;
  color: #303030; }

body {
  background: url(../img/paper-texture-narrow.png) no-repeat center/cover; }

/*# sourceMappingURL=style.css.map */
