@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@400;600;700&family=Nanum+Pen+Script&family=IM+Fell+English+SC&display=swap');

/*색상*/
$bgLight: #e6e2dd;
$bgDark : #2F2C28;
$txt: #303030; 
$pink: #C1554E;
$lightyellow: #FFEDCB;
$lightbrown: #c9c3b7;

/*반응형*/
$tablet : 1179px;
$mobile : 539px;

//common style
@import "common/reset";
@import "common/header";
@import "common/footer";
@import "common/layout";

//main style
@import "main/visualM";
@import "main/newsM";
@import "main/offerM";
@import 'main/festivalM';
@import 'main/latestReviewM';
@import 'main/partnersM';
@import 'main/btns';
@import 'main/popup';

//sub page style
@import "sub/about";
@import "sub/board";
@import "sub/gallery";
@import "sub/youtube";
@import 'sub/vidList';
@import 'sub/note';
@import "sub/contact";
@import "sub/signin";
@import "sub/join";

html{
  background-color: #e6e2dd;
  color: $txt;
}

body{
  background: url(../../public/img/paper-texture-narrow.png) no-repeat center/cover;
}

body.white{
  #header {
    color: $bgLight!important;
    a {color: $bgLight!important;}
    span, span::after{color: $bgLight!important;}
    .util_web ul li a { color: #303030!important;}
  }

  #footer{
    color: $bgLight;
    border-color:  $bgLight;
    .inner{
      border-top: 2px solid $bgLight;

      .newsletter .input_wrap #newsletterInput {border-color:  $bgLight;}
      .newsletter .input_wrap #newsletterSubmit {color: $bgLight; border-color:  $bgLight;}
      >p{border-top: 1px solid  $bgLight;}
    }
  }
}