@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@400;600;700&family=IM+Fell+English+SC&display=swap');

/*색상*/
$backgroundColor: #e6e2dd;
$dark : #2F2C28;
$txt: #303030;
$lightpink: #FFC1B4; // #FAD7BE; //F2BEBE; //E9B5B5
$pink: #C1554E;
$yellow: #ffbb00;
$lightyellow: #FFEDCB; //FFFFEB
$lightbrown: #c9c3b7;
$gray: #C0C1B8;

/*반응형*/
$tablet : 1179px;
$mobile : 539px;

//common style
@import "common/reset";
@import "common/header";
@import "common/header_sub";
@import "common/footer";
@import "common/layout";

//main style
@import "main/visualM";
@import "main/newsM";
@import "main/offerM.scss";
@import 'main/festivalM.scss';
@import 'main/partnersM.scss';

//sub page style
@import "sub/about";
@import "sub/board";
@import "sub/gallery";
@import "sub/youtube";
@import "sub/contact";
@import "sub/signin";
@import "sub/join";

html{
  background-color: #e6e2dd;
  color: #303030;
}

body{
  background: url(../img/paper-texture-narrow.png) no-repeat center/cover;
}

body.white{
  #header {
    .inner{
      .menu_web{
        h1{color: $backgroundColor;}
        h1 a {color: $backgroundColor;}
        p {
          color: $backgroundColor;
          border-bottom: 4px solid $backgroundColor;
          &::after { background: $backgroundColor;}
        }
      }
      #gnb_web{ 
        border-bottom: 2px solid $backgroundColor;
        ul li a {color: $backgroundColor}
      }
    }
  }

  #footer{
    color: $backgroundColor;
    border-color:  $backgroundColor;
    .inner{
      border-top: 2px solid $backgroundColor;

      .newsletter .input_wrap #newsletterInput {border-color:  $backgroundColor;}
      .newsletter .input_wrap #newsletterSubmit {color: $backgroundColor; border-color:  $backgroundColor;}
      >p{border-top: 1px solid  $backgroundColor;}
    }
  }
}