@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=IM+Fell+English+SC&display=swap');

/*색상*/
$backgroundColor: #e6e2dd;
$txt: #303030;
$lightpink: #FFC1B4; // #FAD7BE; //F2BEBE; //E9B5B5
$pink: #C1554E;
$lightyellow: #FFEDCB; //FFFFEB
$lightbrown: #c9c3b7;
$gray: #C0C1B8;

/*반응형*/
$tablet : 1179px;
$mobile : 539px;

//common style
@import "common/reset";
@import "common/header";
@import "common/header_sub";
@import "common/footer";
@import "common/layout";

//main style
@import "main/visual";

//sub page style
@import "sub/about";
@import "sub/board";
@import "sub/gallery";
@import "sub/youtube";
@import "sub/contact";
@import "sub/signin";
@import "sub/join";

html{
  background-color: #e6e2dd;
  color: #303030;
}

body{
  background: url(../img/paper-texture-narrow.png) no-repeat center/cover;
}